include SharedSingletons/DrawerMenu/DrawerMenu.pug
include SharedSingletons/Header/Header.pug
include SharedSingletons/Footer/Footer.pug

include ../../node_modules/@yamato-daiwa/frontend-documenting-kit/Components.pug
