include _Components.common.pug

include ../../node_modules/@yamato-daiwa/frontend-localization-russian/Components.pug
include ../../node_modules/@yamato-daiwa/frontend-documenting_kit-localization-russian/Components.pug


-

  AttentionBox__YDF.localization = AttentionBoxYDF_ComponentRussianLocalization;
  CodeViewer__YDF.localization = CodeViewerYDF_ComponentRussianLocalization;

  CallableExpressionScheme__YDF_DK.localization = callableExpressionSchemeYDF_DK_ComponentRussianLocalization;
  ParameterMetadata__YDF_DK.localization = parameterMetadataYDF_DK_ComponentRussianLocalization;

  Header__YDPD.setIconAlternatingText(
    "Иконка библиотек &quot;Yamato Daiwa ECMAScript extensions&quot; (сокращённо: &quot;YDEE&quot;)."
  );
