include _Components.common.pug

include ../../node_modules/@yamato-daiwa/frontend-localization-japanese/Components.pug
include ../../node_modules/@yamato-daiwa/frontend-documenting_kit-localization-japanese/Components.pug


-

  AttentionBox__YDF.localization = attentionBoxYDF_ComponentLocalization__japanese;
  CodeViewer__YDF.localization = codeViewerYDF_ComponentLocalization__japanese;
  QuestionAndAnswerBox__YDF.localization = questionAndAnswerBoxYDF_ComponentLocalization__japanese;
  SingleImageViewer__YDF.localization = singleImageViewerYDF_ComponentLocalization__japanese;

  CallableExpressionScheme__YDF_DK.localization = callableExpressionSchemeYDF_DK_ComponentLocalization__japanese;
  LanguageDropDownList__YDF_DK.localization = languageDropDownListYDF_DK_ComponentLocalization__japanese;
  ObjectTypeAbstract__YDF_DK.localization = objectTypeAbstractYDF_DK_ComponentLocalization__japanese;
  ParameterMetadata__YDF_DK.localization = parameterMetadataYDF_DK_ComponentLocalization__japanese;


  Header__YDPD.setIconAlternatingText(
    "「Yamato Daiwa ECMAScript extensions」 (略: 「YDEE」) ライブラリのアイコン。"
  );
