include _Components.common.pug

include ../../node_modules/@yamato-daiwa/frontend-documenting_kit-localization-russian/Components.pug
include ../../node_modules/@yamato-daiwa/frontend-localization-russian/Components.pug


-

  AttentionBox__YDF.localization = AttentionBoxYDF_ComponentRussianLocalization;
  CodeViewer__YDF.localization = CodeViewerYDF_ComponentRussianLocalization;

  ParameterMetadata__YDF.localization = ParameterMetadataYDF_ComponentRussianLocalization;
