include _Components.common.pug

include ../../node_modules/@yamato-daiwa/frontend-localization-russian/Components.pug
include ../../node_modules/@yamato-daiwa/frontend-documenting_kit-localization-russian/Components.pug


-

  AttentionBox__YDF.localization = attentionBoxYDF_ComponentLocalization__russian;
  CodeViewer__YDF.localization = codeViewerYDF_ComponentLocalization__russian;
  QuestionAndAnswerBox__YDF.localization = questionAndAnswerBoxYDF_ComponentLocalization__russian;
  SingleImageViewer__YDF.localization = singleImageViewerYDF_ComponentLocalization__russian;

  CallableExpressionScheme__YDF_DK.localization = callableExpressionSchemeYDF_DK_ComponentLocalization__russian;
  LanguageDropDownList__YDF_DK.localization = languageDropDownListYDF_DK_ComponentLocalization__russian;
  ObjectTypeAbstract__YDF_DK.localization = objectTypeAbstractYDF_DK_ComponentLocalization__russian;
  ParameterMetadata__YDF_DK.localization = parameterMetadataYDF_DK_ComponentLocalization__russian;


  Header__YDPD.setIconAlternatingText(
    "Иконка библиотек &quot;Yamato Daiwa ECMAScript extensions&quot; (сокращённо: &quot;YDEE&quot;)."
  );
