extends ../../../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../../SharedAssets/Markup/SharedAssets.russian.pug
  include ../../../../../../SharedComponents/SharedComponents.russian.pug


block append Metadata

  -

    const {
      $heading: topHeading,
      $sectioning: localizedSectioning
    } = localizedRouting.coreLibrary.$children.functionality.$children.RawObjectDataProcessor.$children.validationIssues;

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle(`RawObjectDataProcessor — ${ topHeading }`),
        description: ""
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute("coreLibrary.functionality.RawObjectDataProcessor.validationIssues");

    LanguageDropDownList__YDF_DK.setLinks({
      english: routing.english.coreLibrary.$children.functionality.$children.RawObjectDataProcessor.$children.validationIssues.$URI,
      japanese: routing.japanese.coreLibrary.$children.functionality.$children.RawObjectDataProcessor.$children.validationIssues.$URI
    });


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    //- ━━━ `RawObjectDataProcessor` — Ошибки и предупреждения о невалидных данных ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h1.Article-Heading1!= `<code>RawObjectDataProcessor</code> — ${ topHeading }`

    //- ━━━ Сообщения об ошибках валидации ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    +Heading--YDF({
      level: 2,
      text: localizedSectioning.validationErrorsMessages.$heading,
      HTML_ID: localizedSectioning.validationErrorsMessages.$anchor
    }).Article-Heading2

    //- ─── RAW_DATA_IS_NOT_OBJECT ─────────────────────────────────────────────────────────────────────────────────────
    +Heading--YDF({
      level: 3,
      innerHTML: localizedSectioning.validationErrorsMessages.$children.rawDataIsNotObject.$heading,
      HTML_ID: localizedSectioning.validationErrorsMessages.$children.rawDataIsNotObject.$anchor
    }).Article-Heading3

    //- ─── RAW_DATA_IS_NULL ───────────────────────────────────────────────────────────────────────────────────────────
    +Heading--YDF({
      level: 3,
      innerHTML: localizedSectioning.validationErrorsMessages.$children.rawDataIsNull.$heading,
      HTML_ID: localizedSectioning.validationErrorsMessages.$children.rawDataIsNull.$anchor
    }).Article-Heading3

    //- ─── VALUE_TYPE_DOES_NOT_MATCH_WITH_EXPECTED ────────────────────────────────────────────────────────────────────
    +Heading--YDF({
      level: 3,
      innerHTML: localizedSectioning.validationErrorsMessages.$children.valueTypeDoesNotMatchWithExpected.$heading,
      HTML_ID: localizedSectioning.validationErrorsMessages.$children.valueTypeDoesNotMatchWithExpected.$anchor
    }).Article-Heading3

    //- ─── PRE_VALIDATION_MODIFICATION_FAILED ─────────────────────────────────────────────────────────────────────────
    +Heading--YDF({
      level: 3,
      innerHTML: localizedSectioning.validationErrorsMessages.$children.preValidationModificationFailed.$heading,
      HTML_ID: localizedSectioning.validationErrorsMessages.$children.preValidationModificationFailed.$anchor
    }).Article-Heading3
