extends ../../../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../../SharedAssets/Markup/SharedAssets.japanese.pug
  include ../../../../../../SharedComponents/SharedComponents.japanese.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("replaceArrayElementsByPredicates"),
        description: MetaDescriptionTemplates.function({
          functionName: "replaceArrayElementsByPredicates",
          whatFunctionDoes: ""
        })
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute("coreLibrary.functionality.arrays.replacingOfElements.replaceArrayElementsByPredicates");

    LanguageDropDownList__YDF_DK.setLinks({
      english: routing.english.coreLibrary.$children.functionality.$children.arrays.$children.
          replacingOfElements.$children.replaceArrayElementsByPredicates.$URI,
      russian: routing.russian.coreLibrary.$children.functionality.$children.arrays.$children.
          replacingOfElements.$children.replaceArrayElementsByPredicates.$URI
    });

    const { $sectioning: localizedSectioning } = localizedRouting.coreLibrary.$children.functionality.$children.arrays.
        $children.replacingOfElements.$children.replaceArrayElementsByPredicates;


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    h1.Article-Heading1 replaceArrayElementsByPredicates

    // +ApologyWithSupportRequest

    +CodeViewer--YDF({ title: "シグネチャ" })
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.TypeScript }): :code_listing--yda

    //-
      +CallableExpressionScheme--YDF_DK({
        technicalName: "replaceArrayElementsByPredicates",
        headingTag: "h1",
        localizedDescriptiveHeading: "",
        parametersSpecification: [
          {
            localizedName: "Target string",
            type: "string",
            required: true,
            genericTechnicalName: "targetString"
          }
        ],
        returnedValue: "boolean"
      })
