include _SharedComponents.common.pug

include ../../node_modules/@yamato-daiwa/programming_documentation/YDF_ComponentsLocalization.japanese.pug
include ../../node_modules/@yamato-daiwa/programming_documentation/YDF_DK_ComponentsLocalization.japanese.pug

include Messages/ApologyWithSupportRequest/ApologyWithSupportRequest-LocalizedText.japanese.pug


-

  Header__YDPD.setLogoAlternatingText(
    "「Yamato Daiwa ECMAScript extensions」 (略: 「YDEE」) ライブラリのアイコン。"
  );
