include _SharedComponents.common.pug

include ../../node_modules/@yamato-daiwa/programming_documentation/YDF_ComponentsLocalization.russian.pug
include ../../node_modules/@yamato-daiwa/programming_documentation/YDF_DK_ComponentsLocalization.russian.pug

include Messages/ApologyWithSupportRequest/ApologyWithSupportRequest-LocalizedText.russian.pug


-

  Header__YDPD.setLogoAlternatingText(
    "Иконка библиотек «Yamato Daiwa ECMAScript extensions» (сокращённо: «YDEE»)."
  );
