include TopPage.toc.pug


-

  localizedRouting.top.$sectioning = generatePageTableOfContents(
    (() => {

      /* [ Maintainability ] Keep this constant to make able the copying of qualified names in IntelliJ IDEA IDEs. */
      const localizedStrings = {};

      return localizedStrings;

    })()
  );
