.CompactTableOfContents

  &-Item

    retireFromElementWithSameSelector({ y: 6px })


    &:has(.CompactTableOfContents-Item-CollapsingToggle)

      display grid
      grid-template-areas "COLLAPSING_TOGGLE LINK_OR_TITLE" "CHILD_LIST CHILD_LIST"
      grid-template-columns auto minmax(0, 1fr)
      column-gap 6px

      align-items center


    &-Link

      display flex
      align-items center

      border-radius 8px
      Paddings({
        horizontalSymmetric: 8px,
        verticalSymmetric: 4px
      })

      applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
        fontSize: 14px,
        lineSpacing: 4px,
        mustAllowWordBreakingAnywhere: true,
        mustApplyNegativeMarginsToRootElement: true
      })

      color: ShadesOfGray__39ColorsW3C_Palette[12]

      grid-area LINK_OR_TITLE


      &:hover

        background: YDF_ColorPalette.skyBlue.pastelMediumLight


      &:focus

        box-shadow: inset 0 0 0 2px YDF_ColorPalette.amber.mediumLight


      &:active

        background: YDF_ColorPalette.amber.light


      &__Current

        background: YDF_ColorPalette.amber.light


      code

        font-family Consolas, monaco, monospace

        font-weight bold
        color: ShadesOfGray__39ColorsW3C_Palette[20]


    &-Title

      font-weight bold
      color: ShadesOfGray__39ColorsW3C_Palette[12]


    &-CollapsingToggle

      ButtonLikeElementsPrimer()

      display inline-flex
      border-radius 50px

      grid-area COLLAPSING_TOGGLE
      align-self center

      cursor pointer


      &:focus

        box-shadow: 0 0 3px 4px YDF_ColorPalette.amber.mediumLight


      &-Icon

        height 20px

        fill: ShadesOfGray__39ColorsW3C_Palette[24]


        ../:hover &

          fill: ShadesOfGray__39ColorsW3C_Palette[16]


        ../:active &

          fill: YDF_ColorPalette.amber.bright


    >.CompactTableOfContents

      padding-left 4px

      grid-area CHILD_LIST
      margin-top 6px
