- ApologyWithSupportRequest.title = "Эта страница не завершена";


mixin ApologyWithSupportRequest-LocalizedText(properties)

  - const { currentState } = properties;

  case currentState

    when ApologyWithSupportRequest.States.initialTextNotWritten

      | Приносим свои извинения, но данная страница ещё не завершена.
      | К сожалению, на данный момент мы можем лишь ограничиться ссылками на исходный код.
      | Если Вам нужна эта страница в завершённом виде как можно быстрее, просим Вас рассмотреть вопрос об
      |
      +Link--YDF({
        internalURI: localizedRouting.supportProject.$URI
      }) оказании финансовой поддержки проекту
      | .
      | В частности, часть средств будет потрачена на проверку страницы носителями русского языка.


    when ApologyWithSupportRequest.States.notTranslated

      | Приносим свои извинения, но данная страница ещё не переведена.
      | К сожалению, на данный момент мы можем лишь ограничиться ссылками на исходный код.
      | Если Вам нужен перевод этой страницы на русский язык как можно быстрее, просим Вам рассмотреть вопрос об
      |
      +Link--YDF({
        internalURI: localizedRouting.supportProject.$URI
      }) оказании финансовой поддержки проекту
      | .
      | В частности, часть средств будет потрачена на проверку страницы носителями русского языка.


    when ApologyWithSupportRequest.States.notCheckedByNativeSpeakers

      | Приносим свои извинения, но перевод этой страницы на русский язык ещё не&nbsp;проверен носителем русского языка.
      | Если Вам нужна полностью завершённая версия этой страницы с качественным переводом как можно быстрее, просим Вам
      |   рассмотреть вопрос об
      |
      +Link--YDF({
        internalURI: localizedRouting.supportProject.$URI
      }) оказании финансовой поддержки проекту
      | .
