extends ../../../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../../SharedAssets/Markup/SharedAssets.russian.pug
  include ../../../../../../SharedComponents/SharedComponents.russian.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("addElementsToArrayIfTheyAreNotPresentOtherwiseRemove"),
        description: MetaDescriptionTemplates.function({
          functionName: "addElementsToArrayIfTheyAreNotPresentOtherwiseRemove",
          whatFunctionDoes: ""
        })
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute(
      "coreLibrary.functionality.arrays.other.addElementsToArrayIfTheyAreNotPresentOtherwiseRemove"
    );

    LanguageDropDownList__YDF_DK.setLinks({
      english: routing.english.coreLibrary.$children.functionality.$children.arrays.$children.other.$children.
          addElementsToArrayIfTheyAreNotPresentOtherwiseRemove.$URI,
      japanese: routing.japanese.coreLibrary.$children.functionality.$children.arrays.$children.other.$children.
          addElementsToArrayIfTheyAreNotPresentOtherwiseRemove.$URI
    });

    const { $sectioning: localizedSectioning } = localizedRouting.coreLibrary.$children.functionality.$children.arrays.
        $children.other.$children.addElementsToArrayIfTheyAreNotPresentOtherwiseRemove;


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    h1.Article-Heading1!= "<code>addElementsToArrayIfTheyAreNotPresentOtherwiseRemove</code>"

    +CodeViewer--YDF({ title: "Сигнатура" })
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.TypeScript }): :code_listing--yda
        <ArrayElement>(
          compoundParameter:
              Readonly<
                (
                  {
                    targetElement: ArrayElement;
                    targetElementFinder?: (arrayElement: ArrayElement) => boolean;
                  } |
                  {
                    targetElements: ReadonlyArray<ArrayElement>;
                    targetElementsFinder?: (arrayElement: ArrayElement) => boolean;
                  }
                ) &
                (
                  {
                    addingToStart: true;
                    addingToEnd?: undefined;
                    addingToPosition__numerationFrom0?: undefined;
                    addingToPosition__numerationFrom1?: undefined;
                  } |
                  {
                    addingToEnd: true;
                    addingToStart?: undefined;
                    addingToPosition__numerationFrom0?: undefined;
                    addingToPosition__numerationFrom1?: undefined;
                  } |
                  {
                    addingToPosition__numerationFrom0: number;
                    addingToStart?: undefined;
                    addingToEnd?: undefined;
                    addingToPosition__numerationFrom1?: undefined;
                  } |
                  {
                    addingToPosition__numerationFrom1: number;
                    addingToStart?: undefined;
                    addingToEnd?: undefined;
                    addingToPosition__numerationFrom0?: undefined;
                  }
                ) &
                (
                  {
                    mutably: true;
                    targetArray: Array<ArrayElement>;
                  } |
                  {
                    mutably: false;
                    targetArray: ReadonlyArray<ArrayElement>;
                  }
                )
              >
        ): Array<ArrayElement>

    +PageNotReadyApology--YDPD({
      currentState: PageNotReadyApology__YDPD.States.initialTextNotWritten
    })


    //- ━━━ 外部リンク ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    +Heading--YDF({
      level: 2,
      text: localizedSectioning.externalLinks.$heading,
      HTML_ID: localizedSectioning.externalLinks.$anchor
    }).Article-Heading2

    +LinksCardsFlow--YDF

      +LinksCardsFlow-ItemWithSVG_Icon--YDF({
        unendorsedExternalURI: GIT_HUB_REPOSITORY_URI_COMMON_PART__ACTUAL_BRANCH__WITH_TRAILING_SLASH +
            "CoreLibrary/Package/Source/Arrays/09-Other/addElementsToArrayIfTheyAreNotPresentOtherwiseRemove.ts",
        title: "ソースコード"
      }): +File__SourceCode--YDF_Icon.LinksCardsFlow--YDF-SVG_Icon
