include ../../../../../node_modules/@yamato-daiwa/frontend-documenting_kit-localization-japanese/Components.pug
include ../../../../../node_modules/@yamato-daiwa/frontend-localization-japanese/Components.pug

-

  AttentionBox__YDF.localization = AttentionBoxYDF_ComponentJapaneseLocalization;
  CodeViewer__YDF.localization = CodeViewerYDF_ComponentJapaneseLocalization;

  ParameterMetadata__YDF.localization = ParameterMetadataYDF_ComponentJapaneseLocalization;
