-

  const MetaDescriptionTemplates = {

    function: ({ functionName, whatFunctionDoes }) =>
        `「Yamato Daiwa ECMAScript extensions（YDEE）」ライブラリの「${ functionName }」関数は、${ whatFunctionDoes }`,

    class: ({ className, whatIsClassFor }) =>
        `「Yamato Daiwa ECMAScript extensions（YDEE）」ライブラリの「${ className }」クラスは${ whatIsClassFor }`

  };
