-

  const MetaDescriptionTemplates = {

    function: ({ functionName, whatFunctionDoes }) =>
        `「Yamato Daiwa ECMAScript extensions」（略：YDEE）というライブの「${ functionName }」関数は${ whatFunctionDoes }。`

  };
