mixin IntellIJ_IDEA_IDEs_LiveTemplateUsageGuidance(properties)

  - const { imageURI } = properties


  h2.Article-Heading2 「IntelliJ IDEA」属結合開発環境に於いて高速入力

  +SingleImageViewer--YDF({
    imageURI: imageURI,
    imageAlternateText: ""
  })

  p.Article-Paragraph.
    #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.intelliJ_IDEA_FamilyIDEs }) 「IntelliJ IDEA」属]
      の#[+Term--YDID 結合開発環境]の
      #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.liveTemplates }) Live templates]
      と言う機能の利用の御蔭で、#[+Term--YDID 関数呼び出し表現]等の入力が早められる。
    #[+ImportantEntity--YDID YDEE]の#[+Term--YDID ライブテンプレート]を取得するには、当ライブラリの
      #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.YDEE_Plugin }) 正式プラグイン]
      を導入すれば良い。


  h3.Article-Heading3 Live Templateの利用手順

  p.Article-Paragraph.
    #[+Term--YDID ライブテンプレート]を使った事が無い場合、下記の大容量の手順書に就いて心配は無用。
    #[+Term--YDID ライブテンプレート]に慣れてから（キーボードのショートカット利用と同じ様な習慣）下記の操作に必要な時間は数秒程度になる。

  block
