-

  const routingJapaneseLocalization = {

    fileNameLocalizationExtensions: "japanese",

    topPage: {
      tableOfContentTitle: "トップ",
      URI: "@All/Top/TopPage.japanese"
    },

    coreLibrary: {

      tableOfContentTitle: "主要ライブラリ",

      gettingStarted: {
        tableOfContentTitle: "早速着手",
        sections: {
          installation: { tableOfContentTitle : "導入" },
          distributiveVolumeNotice: { tableOfContentTitle : "パッケージ容量関連案内" },
          nonTypeScriptUsageWarning: { tableOfContentTitle : "非TypeScript利用上の注意事項" },
          importingOfFunctionality: { tableOfContentTitle : "依存性のインポート" }
        }
      },

      functionality: {
        tableOfContentTitle: "機能",
        children: {

          arrays: {

            tableOfContentTitle: "配列",

            addElementsToArray: {
              tableOfContentTitle: "addElementsToArray"
            }

          }

        }
      }

    }

  };
