-

  const routingJapaneseLocalization = {

    fileNameLocalizationExtensions: "japanese",

    topPage: {
      tableOfContentTitle: "トップ",
      URI: "@All/Top/TopPage.japanese"
    },

    coreLibrary: {

      tableOfContentTitle: "主要ライブラリ",

      gettingStarted: {
        tableOfContentTitle: "早速着手",
        sections: {
          installation: { tableOfContentTitle : "導入" },
          distributiveVolumeNotice: { tableOfContentTitle : "パッケージ容量関連案内" },
          nonTypeScriptUsageWarning: { tableOfContentTitle : "非TypeScript利用上の注意事項" },
          importingOfFunctionality: { tableOfContentTitle : "依存性のインポート" }
        }
      },

      functionality: {
        tableOfContentTitle: "機能",
        children: {

          strings: {
            tableOfContentTitle: "文字列"
          },

          arrays: {

            tableOfContentTitle: "配列",

            retrievingOfElements: {
              tableOfContentTitle: "要素の取得"
            },

            retrievingOfIndexes: {
              tableOfContentTitle: "指数の取得"
            },

            addingOfElements: {
              tableOfContentTitle: "要素の追加"
            },

            removingOfElements: {
              tableOfContentTitle: "要素の取り除き"
            },

            other: {
              tableOfContentTitle: "その他"
            }

          },

          constantsAndEnumerations: {
            tableOfContentTitle: "定数・列挙",
            dateTime: { tableOfContentTitle: "日付・時間" }
          }

        }
      }

    }

  };
