-

  const routingJapaneseLocalization = {

    fileNameLocalizationExtensions: "japanese",

    topPage: {
      tableOfContentsTitle: "トップ",
      URI: "@All/Top/TopPage.japanese"
    },

    coreLibrary: {

      tableOfContentsTitle: "主要ライブラリ",

      gettingStarted: {
        tableOfContentsTitle: "早速着手",
        sections: {
          installation: { tableOfContentsTitle : "導入" },
          distributiveVolumeNotice: { tableOfContentsTitle : "パッケージ容量関連案内" },
          nonTypeScriptUsageWarning: { tableOfContentsTitle : "非TypeScript利用上の注意事項" },
          importingOfFunctionality: { tableOfContentsTitle : "依存性のインポート" }
        }
      },

      functionality: {

        tableOfContentsTitle: "機能",

        strings: {
          tableOfContentsTitle: "文字列"
        },

        arrays: {

          tableOfContentsTitle: "配列",

          retrievingOfElements: {
            tableOfContentsTitle: "要素の取得"
          },

          retrievingOfIndexes: {
            tableOfContentsTitle: "指数の取得"
          },

          addingOfElements: {
            tableOfContentsTitle: "要素の追加"
          },

          removingOfElements: {
            tableOfContentsTitle: "要素の取り除き"
          },

          other: {
            tableOfContentsTitle: "その他"
          }

        },

        constantsAndEnumerations: {
          tableOfContentsTitle: "定数・列挙",
          dateTime: { tableOfContentsTitle: "日付・時間" },
          HTTP: { HTTP_StatusCodes: { tableOfContentsTitle: "HTTP レスポンスステータスコード" } }
        },

        dataMocking: {
          tableOfContentsTitle: "データモキング",
          guide: { tableOfContentsTitle: "データモキングガイド" },
          DataMockingClass: { tableOfContentsTitle: "<code>DataMocking</code>クラス" },
        },

        dateTime: {
          tableOfContentsTitle: "時間・日付",
          comparison: { tableOfContentsTitle: "比較" },
          other: { tableOfContentsTitle: "其の他" }
        },

        defaultValueSubstituters: { tableOfContentsTitle: "規定値の代入" },

        errors: { tableOfContentsTitle: "エラークラス" },

        logging: {
          tableOfContentsTitle: "ロギング",
          loggerFacade: { tableOfContentsTitle: "<code>Logger</code>ファサード" },
          loggerInterface: { tableOfContentsTitle: "<code>ILogger</code>インターフェース" },
          relatedTypes: { tableOfContentsTitle: "関連型" }
        },

        maps: { tableOfContentsTitle: "マップ" },

        numbers: { tableOfContentsTitle: "数" },

        objects: { tableOfContentsTitle: "オブジェクト" },

        pagination: { tableOfContentsTitle: "ページネーション" },

        promises: { tableOfContentsTitle: "プロミス" },

        randomValuesGenerators: { tableOfContentsTitle: "ランダム値の生成" },

        rawObjectDataProcessor: {
          quickExample: { tableOfContentsTitle: "先ずは例" },
          problemOverview: { tableOfContentsTitle: "問題考察" },
          theoreticalMinimum: { tableOfContentsTitle: "最少理論" },
          gettingStarted: { tableOfContentsTitle: "着手" },
          helpers: { tableOfContentsTitle: "補助昨日" }
        },

        sets: { tableOfContentsTitle: "セット" },

        strings: {
          tableOfContentsTitle: "文字列",
          charactersAssets: { tableOfContentsTitle: "文字列アセット" },
          regularExpressions: { tableOfContentsTitle: "正規表現" },
          URI: { filesAndDirectories: { tableOfContentsTitle: "ファイル・ディレクトリ" } },
          other: { tableOfContentsTitle: "其の他" }
        },

        typeGuards: {
          tableOfContentsTitle: "タイプガード",
          arrays: { tableOfContentsTitle: "配列" },
          nullables: { tableOfContentsTitle: "空の型" },
          numbers: { tableOfContentsTitle: "数" },
          objects: { tableOfContentsTitle: "オブジェクト" },
          strings: { tableOfContentsTitle: "文字列" },
          others: { tableOfContentsTitle: "その他" }
        },

        types: { tableOfContentsTitle: "型" },

        valueTransformers: { tableOfContentsTitle: "値の変換" }

      }

    },

    browserJS: {
      tableOfContentsTitle: "ブラウザーJS",
      DOM_Manipulations: { tableOfContentsTitle: "DOM弄り" },
      eventsHandling: { tableOfContentsTitle: "イベント処理" },
      logging: { tableOfContentsTitle: "ロギング" }
    },

    NodeJS: {
      utils: { tableOfContentsTitle: "補助手段" },
      errorsClasses: { tableOfContentsTitle: "エラーのクラス" },
      other: { tableOfContentsTitle: "その他" }
    },

    realiseNotes: {
      tableOfContentsTitle: "リリースノート"
    }

  };
