-

  const sharedExternalLinksJapaneseLocalization = {
    wikipedia: {
      math: {
        euler_sNumber: "https://ja.wikipedia.org/wiki/%E3%83%8D%E3%82%A4%E3%83%94%E3%82%A2%E6%95%B0"
      }
    },
    mdn: {
      array: {
        unshift: "https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Array/unshift",
        push: "https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Array/push",
        splice: "https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Array/splice"
      },
      DOM: {
        Document: "https://developer.mozilla.org/ja/docs/Web/API/Document",
        Element: "https://developer.mozilla.org/ja/docs/Web/API/Element"
      }
    },
    jetBrains: {
      liveTemplates: "https://pleiades.io/help/idea/using-live-templates.html"
    },
    otherLibraries: {
      yamatoDaiwa: {
        frontend: "https://frontend.yamato-daiwa.com/Top/TopPage.japanese.html"
      }
    }
  };
