include addElementsToArray.toc.pug


-

  localizedRouting.coreLibrary.$children.
      functionality.$children.
      arrays.$children.
      addingOfElements.$children.
      addElementsToArray.$sectioning =
          generatePageTableOfContents({

            examples: {

              $heading: "Examples",

              addingOfOneElementToTheStartOfArray: {
                $heading: "Adding of one element to the start of array",
                mutableAdding: { $heading: "Mutable adding" },
                immutableAdding: { $heading: "Immutable adding" }
              },

              addingOfOneElementToTheEndOfArray: {
                $heading: "Adding of one element to the end of array",
                mutableAdding: { $heading: "Mutable adding" },
                immutableAdding: { $heading: "Immutable adding" }
              },

              addingOfOneElementToTheSpecificPositionOfArrayNumerationFrom0: {
                $heading: "Adding of one element to the specific position of array (numeration from 0)",
                mutableAdding: { $heading: "Mutable adding" },
                immutableAdding: { $heading: "Immutable adding" }
              },

              addingOfOneElementToTheSpecificPositionOfArrayNumerationFrom1: {
                $heading: "Adding one element to the specific position of an array (numeration from 1)",
                mutableAdding: { $heading: "Mutable adding" },
                immutableAdding: { $heading: "Immutable adding" }
              },

              addingOfMultipleElementsToTheStartOfArray: {
                $heading: "Adding of multiple elements to the start of array",
                mutableAdding: { $heading: "Mutable adding" },
                immutableAdding: { $heading: "Immutable adding" }
              },

              addingOfMultipleElementsToTheEndOfArray: {
                $heading: "Adding of multiple elements to the end of array",
                mutableAdding: { $heading: "Mutable adding" },
                immutableAdding: { $heading: "Immutable adding" }
              },

              addingOfMultipleElementsToTheSpecificPositionNumerationFrom0: {
                $heading: "Adding of multiple elements to specific position (numeration from 0)",
                mutableAdding: { $heading: "Mutable adding" },
                immutableAdding: { $heading: "Immutable adding" }
              },

              addingOfMultipleElementsToTheSpecificPositionNumerationFrom1: {
                $heading: "Adding of multiple elements to specific position (numeration from 1)",
                mutableAdding: { $heading: "Mutable adding" },
                immutableAdding: { $heading: "Immutable adding" }
              }

            },

            quickInputInIntelliJIDEA_FamilyOfIDEs: {
              $heading: "Quick input in IntelliJ IDEA family of IDEs",
              stepsForUsingTheLiveTemplates: { $heading: "Steps for using the Live templates" }
            },

            externalLinks: {
              $heading: "External links"
            }

          });
