extends ../../../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../../SharedAssets/Markup/SharedAssets.japanese.pug
  include ../../../../../../SharedComponents/SharedComponents.japanese.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("replaceArrayElementsByIndexesImmutably"),
        description: MetaDescriptionTemplates.function({
          functionName: "replaceArrayElementsByIndexesImmutably",
          whatFunctionDoes: ""
        })
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute(
      "coreLibrary.functionality.arrays.replacingOfElements.replaceArrayElementsByIndexesImmutably"
    );

    LanguageDropDownList__YDF_DK.setLinks({
      english: routing.english.coreLibrary.$children.functionality.$children.arrays.$children.
          replacingOfElements.$children.replaceArrayElementsByIndexesImmutably.$URI,
      russian: routing.russian.coreLibrary.$children.functionality.$children.arrays.$children.
          replacingOfElements.$children.replaceArrayElementsByIndexesImmutably.$URI
    });

    const { $sectioning: localizedSectioning } = localizedRouting.coreLibrary.$children.functionality.$children.arrays.
        $children.replacingOfElements.$children.replaceArrayElementsByIndexesImmutably;


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    +CallableExpressionScheme--YDF_DK({
      technicalName: "replaceArrayElementsByIndexesImmutably",
      localizedDescriptiveHeading: "派生配列を作り指数で要素を置き換える",
      headingTag: "h1",
      genericParameters: [ "ArrayElement" ],
      parametersSpecification: [
        {
          genericTechnicalName: "sourceData",
          localizedName: "入力データ",
          type: "SourceData",
          required: true
        }
      ],
      returnedValue: "Array<ArrayElement>",
    })
      +ObjectTypeAbstract--YDF_DK({
        typeName: "SourceData",
        propertiesSpecification: {
          $intersection: [
            {
              targetArray: {
                localizedInterpretation: "目標の配列",
                type: "ReadonlyArray<ArrayElement>",
                required: true
              }
            },
            [
              {
                index: {
                  localizedInterpretation: "要素の指数",
                  type: "number",
                  numbersSet: RawObjectDataProcessor.NumbersSets.nonNegativeInteger,
                  required: true
                },
                newElement: {
                  localizedInterpretation: "新規要素",
                  type: "ArrayElement",
                  required: true
                }
              },
              {
                replacements: {
                  localizedInterpretation: "Замены",
                  type: Array,
                  required: true,
                  element: {
                    type: {
                      localizedInterpretation: "Замена",
                      name: "Replacement",
                      anchorOrURI: "REPLACEMENT"
                    }
                  }
                }
              }
            ]
          ]
        }
      })
      +ObjectTypeAbstract--YDF_DK({
        typeName: "Replacement",
        propertiesSpecification: {
          index: {
            localizedInterpretation: "Индекс",
            type: Number,
            numbersSet: RawObjectDataProcessor.NumbersSets.nonNegativeInteger,
            required: true
          },
          newElement: {
            localizedInterpretation: "Новый элемент",
            type: "ArrayElement",
            required: true
          }
        }
      })(
        id="REPLACEMENT"
      )

    +PageNotReadyApology--YDPD({
      currentState: PageNotReadyApology__YDPD.States.initialTextNotWritten
    })


    //- ━━━ 外部リンク ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    +Heading--YDF({
      level: 2,
      text: localizedSectioning.externalLinks.$heading,
      HTML_ID: localizedSectioning.externalLinks.$anchor
    }).Article-Heading2

    +LinksCardsFlow--YDF

      +LinksCardsFlow-ItemWithSVG_Icon--YDF({
        unendorsedExternalURI: GIT_HUB_REPOSITORY_URI_COMMON_PART__ACTUAL_BRANCH__WITH_TRAILING_SLASH +
            "CoreLibrary/Package/Documentation/Arrays/replaceArrayElementsByIndexesImmutably/" +
            "replaceArrayElementsByIndexesImmutably.md",
        title: "一時的英語マークダウン資料"
      }): +File__SourceCode--YDF_Icon.LinksCardsFlow--YDF-SVG_Icon

      +LinksCardsFlow-ItemWithSVG_Icon--YDF({
        unendorsedExternalURI: GIT_HUB_REPOSITORY_URI_COMMON_PART__ACTUAL_BRANCH__WITH_TRAILING_SLASH +
            "CoreLibrary/Package/Source/Arrays/05-ReplacingOfElements/replaceArrayElementsByIndexesImmutably.ts",
        title: "ソースコード"
      }): +File__SourceCode--YDF_Icon.LinksCardsFlow--YDF-SVG_Icon

      +LinksCardsFlow-ItemWithSVG_Icon--YDF({
        unendorsedExternalURI: GIT_HUB_REPOSITORY_URI_COMMON_PART__ACTUAL_BRANCH__WITH_TRAILING_SLASH +
            "CoreLibrary/Package/Tests/Automated/Arrays/05-ReplacingOfElements/replaceArrayElementsByIndexesImmutably.test.ts",
        title: "テストコード"
      }): +File__TestCode--YDF_Icon.LinksCardsFlow--YDF-SVG_Icon
