extends ../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../SharedAssets/Markup/SharedAssets.japanese.pug
  include ../../../../SharedComponents/SharedComponents.japanese.pug


block append Metadata

  -

    const {
      $heading: topHeading,
      $sectioning: localizedSectioning
    } = localizedRouting.coreLibrary.$children.functionality.$children.RawObjectDataProcessor;

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("RawObjectDataProcessor"),
        description: ""
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute("coreLibrary.functionality.RawObjectDataProcessor");

    LanguageDropDownList__YDF_DK.setLinks({
      english: routing.english.coreLibrary.$children.functionality.$children.RawObjectDataProcessor.$URI,
      russian: routing.russian.coreLibrary.$children.functionality.$children.RawObjectDataProcessor.$URI
    });


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    //- ━━━ `RawObjectDataProcessor` ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h1.Article-Heading1!= topHeading

    +PageNotReadyApology--YDPD({ currentState: PageNotReadyApology__YDPD.States.notCheckedByNativeSpeakers })

    p.Article-Paragraph.
      #[+Term--YDID オブジェクト型]のデータの#[+Term--YDID 妥当性確認]及び其の後の処理専用の#[+Term--YDID クラス]。
      最終的に特定の#[+Term--YDID TypeScript型]に#[+Term__Contrast--YDID キャスト]する。

    p.Article-Paragraph.
      データが#[+ImportantEntity--YDID TypeScript]の型検査にとって辿り着かないソースから来る大抵の場合に需要が有る、例え下記のシナリオ。

    ul.Article-UnorderedList
      li クライアント・サーバーの取引に於けるクライアント側からのデータ取得
      li 逆にクライアント―サーバーの取引に於いてサーバー側からのデータ取得
      li データベースからのデータ取得
      li ファイルからのデータ読み込み(#[+SecondaryEntity--YDID JSON]、#[+SecondaryEntity--YDID YAML]等)

    +CompactTableOfContents--YDF_DK(
      localizedRouting.coreLibrary.$children.functionality.$children.RawObjectDataProcessor.$children
    )
