extends ../../Layouts/Minimal/MinimalLayout.pug


block append Requirements

  include ../../SharedAssets/Markup/HTML_PageMetadata.pug
  include ../../SharedAssets/Markup/generateLocalizedRouting.pug

  include ../../../node_modules/@yamato-daiwa/frontend/Components.pug
  include ../../../node_modules/@yamato-daiwa/frontend-documenting-kit/Components.pug
  include ../../Components/Components.pug

  include ../../SharedAssets/Markup/Localizations/EnglishLocalization.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "en";
    HTML_PAGE_TITLE = "Top page | YDEE - Yamato Daiwa ES Extensions";

    FAVICON_URI = "@MustBeInRoot/favicon.ico";

    styleSheetsURIs = [ "@Shared/CommonStyles", "@Shared/ExternalComponents", "@Pages/Top/TopPage" ];

    LanguageDropDownList.setLinks({
      [LanguageDropDownList.supportedLanguages.japanese]: "@All/Top/TopPage.japanese",
      [LanguageDropDownList.supportedLanguages.russian]: "@All/Top/TopPage.russian"
    });


block append SpecificContent

  main.TopPage

    .TopPage-ImageAndTopHeadingGroup

      img.TopPage-ImageAndTopHeadingGroup-Image(
        src="@Shared/Icons/YDEE_Icon.svg"
        alt="The icon of Yamato Daiwa ES Extensions libraries"
      )

      h1.TopPage-ImageAndTopHeadingGroup-Heading
        span.TopPage-ImageAndTopHeadingGroup-Heading-FirstLine Yamato Daiwa
        span.TopPage-ImageAndTopHeadingGroup-Heading-SecondLine ECMAScript Extensions

    p.TopPage-ShortDescription.
      The reach utility libraries for type for high-quality TypeScript-based development.

    +CompactTableOfContents(localizedRouting.coreLibrary.children)


    h2.TopPage-Heading2 Ecosystem

    p.
      The ecosystem is including the core package, the functionality for BrowserJS, NodeJS and
      also the localizations.


    .TopPage-ImageAndLibraryHeadingGroup
      .TopPage-ImageAndLibraryHeadingGroup-Image
      h3.TopPage-ImageAndLibraryHeadingGroup-Heading CorePackage
      .TopPage-ImageAndLibraryHeadingGroup-NPM_Name @yamato-daiwa/es-extensions
