extends ../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/Minimal/MinimalLayout.pug


block append Requirements

  include ../../SharedAssets/Markup/SharedAssets.english.pug
  include ../../SharedComponents/SharedComponents.english.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("Top Page"),
        description:
            "\"Yamato Daiwa ECMAScript extensions\" (abbreviation: \"YDEE\") is a library for high-quality " +
              "development in the TypeScript language. " +
            "It includes a large number of simple utility functions and powerful classes, such as the " +
              "\"RawObjectDataProcessor\" for the validation and postprocessing of object-type data. " +
            "The function names, parameters, etc. have been designed so that you don't need documentation to " +
              "understand what the code is doing."
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/Minimal/MinimalLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents",
        "@Pages/Top/TopPage"
      ]
    });

    RoutingEmulator.setCurrentRoute("top");

    LanguageDropDownList__YDF_DK.setLinks({
      japanese: routing.japanese.top.$URI,
      russian: routing.russian.top.$URI
    });


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  main.TopPage

    .TopPage-ImageAndTopHeadingGroup

      img.TopPage-ImageAndTopHeadingGroup-Image(
        src="@Shared/Icons/YDEE_Icon.svg"
        alt="The icon of Yamato Daiwa ES Extensions libraries"
      )

      h1.TopPage-ImageAndTopHeadingGroup-Heading
        span.TopPage-ImageAndTopHeadingGroup-Heading-FirstLine Yamato Daiwa
        span.TopPage-ImageAndTopHeadingGroup-Heading-SecondLine ECMAScript Extensions

    p.TopPage-ShortDescription-Heading.
      Rich utility libraries for high-quality TypeScript-based development

    +SingleImageViewer--YDF({
      imageURI: "@AssociatedWithPages/Top/Images/TopPage-MainVisual.english",
      imageAlternateText:
          "\"Yamato Daiwa ECMAScript Extensions\" (abbreviation: \"YDEE\") library. " +
          "Functions and classes with clear API to reduce the routine code." +
          "TypeScript Without \"any\".",
      autoAspectRatioByYDA: true,
      geometry: SingleImageViewer__YDF.GeometricVariations.minimalistic,
      decoration: SingleImageViewer__YDF.DecorativeVariations.minimalistic
    }).TopPage-MainVisual

    +AdmonitionBlock--YDF({
      decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.warning,
      SVG_Icon: true
    }).TopPage-Disclaimer.

      This documentation site is under development.
      Until the specific pages are ready, you will be redirected to temporary markdown documentation of the official
        GitHub repository.
      Please understand that high-quality documentation requires more time than library development, and the top priority
        of library development is new functionality.

    +CompactTableOfContents--YDF_DK(localizedRouting).TopPage-TableOfContents
