@require "../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../node_modules/@yamato-daiwa/frontend/Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


.TopPage

  MAXIMAL_CONTENT_WIDTH = 920px
  MINIMAL_SIDE_SYMMETRIC_PADDINGS__WIDE_SCREENS = 20px

  wideScreensConfigurationMinimalWidth = MAXIMAL_CONTENT_WIDTH + 2*MINIMAL_SIDE_SYMMETRIC_PADDINGS__WIDE_SCREENS

  WideScreensConfiguration()
    @media (min-width: wideScreensConfigurationMinimalWidth)
      {block}

  NarrowScreensConfiguration()
    @media (max-width: wideScreensConfigurationMinimalWidth - 1)
      {block}


  +WideScreensConfiguration()

    CenteredContentWithComputedHorizontalPaddings({ contentWidth: MAXIMAL_CONTENT_WIDTH })


  +NarrowScreensConfiguration()

    Paddings({ horizontalSymmetric: 12px })


  &-ImageAndTopHeadingGroup

    display grid
    grid-template-columns auto minmax(0, 1fr)
    column-gap 12px
    align-items center

    width fit-content
    centerHorizontallyWithoutWrapper({ targetElementType: HorizontalCenteringWithoutWrapper.TargetElementTypes.block })

    margin-top 12px


    &-Image

      width 64px


    &-Heading

      display flex
      flex-direction column

      font-family Arial Black, Arial Bold, Gadget, sans-serif
      font-weight bold
      color steelblue


      &-FirstLine

        font-size 24px

        background transparent


      &-SecondLine

        background transparent

        font-size 36px


  &-ShortDescription

    MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({ fontSize: 20px, lineSpacing: 6px })
    color darkslateblue
