extends ../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/Minimal/MinimalLayout.pug


block append Requirements

  include ../../SharedAssets/Markup/SharedAssets.japanese.pug
  include ../../SharedComponents/SharedComponents.japanese.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("トップ"),
        description:
            "「Yamato Daiwa ECMAScript Extensions」（略：YDEE）は、TypeScript言語での高品質開発を補助するための専用ライブラリである。" +
            "多数の特殊化した簡単な関数も、例えばデータ構造の妥当性確認及び処理専用の「RawObjectDataProcessor」等、豊富な機能クラスを含んでいる。" +
            "関数名や引数名を和訳すれば、説明書を見ずともコードの動作が判る様に設計されている。"
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/Minimal/MinimalLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents",
        "@Pages/Top/TopPage"
      ]
    });

    RoutingEmulator.setCurrentRoute("top");

    LanguageDropDownList__YDF_DK.setLinks({
      english: routing.english.top.$URI,
      russian: routing.russian.top.$URI
    });


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  main.TopPage

    .TopPage-ImageAndTopHeadingGroup

      img.TopPage-ImageAndTopHeadingGroup-Image(
        src="@Shared/Icons/YDEE_Icon.svg"
        alt="「Yamato Daiwa ES Extensions」ライブラリの共通のロゴタイプ"
      )

      h1.TopPage-ImageAndTopHeadingGroup-Heading
        span.TopPage-ImageAndTopHeadingGroup-Heading-FirstLine Yamato Daiwa
        span.TopPage-ImageAndTopHeadingGroup-Heading-SecondLine ECMAScript Extensions

    p.TopPage-ShortDescription-Heading.
      TypeScriptでの高品質開発専用豊富なライブラリ群

    +SingleImageViewer--YDF({
      imageURI: "@AssociatedWithPages/Top/Images/TopPage-MainVisual.japanese",
      imageAlternateText:
          "「Yamato Daiwa ECMAScript Extensions」（略：YDEE）ライブラリ。" +
          "ルーチンコードを減らす為の透明なAPIの関数・クラス揃い。" +
          "無anyのTypeScript。",
      autoAspectRatioByYDA: true,
      geometry: SingleImageViewer__YDF.GeometricVariations.minimalistic,
      decoration: SingleImageViewer__YDF.DecorativeVariations.minimalistic
    }).TopPage-MainVisual

    +AdmonitionBlock--YDF({
      decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.warning,
      SVG_Icon: true
    }).TopPage-Disclaimer.

      説明書（ウェブサイト）は現在開発中です。
      準備中のページにアクセスしようとした場合は、当ライブラリの「GitHubリポジトリの一時的なMarkdown英語の説明書」にリダイレクトさせていただきます。
      高品質な資料の作製には開発よりも多くの時間を要しますが、新規機能の追加がライブラリに必要な為、そちらの作業を優先的に行っています。
      何卒御了承下さい。

    +CompactTableOfContents--YDF_DK(localizedRouting).TopPage-TableOfContents
