extends ../../Layouts/Minimal/MinimalLayout.pug


block append Requirements

  include ../../Components/Components.pug
  include ../../SharedAssets/Markup/Assets.japanese.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ja";
    HTML_PAGE_TITLE = buildHTML_PageTitle("トップ");
    HTML_PageMetaData = {
      description: "", // TODO
      author: HTML_PAGE_AUTHOR
    };

    FAVICON_URI = "@MustBeInRoot/favicon.ico";

    styleSheetsURIs = [ "@Shared/CommonStyles", "@Shared/ExternalComponents", "@Pages/Top/TopPage" ];

    RoutingEmulator.setCurrentRoute("top");

    LanguageDropDownList.setLinks({
      [LanguageDropDownList.supportedLanguages.english]: "./index.html",
      [LanguageDropDownList.supportedLanguages.russian]: "./Top/TopPage.russian.html"
    });



block append SpecificContent
