extends ../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/Minimal/MinimalLayout.pug


block append Requirements

  include ../../SharedAssets/Markup/SharedAssets.russian.pug
  include ../../SharedComponents/SharedComponents.russian.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("Главная страница"),
        description:
            "Библиотека «Yamato Daiwa ECMAScript Extensions» (сокращённо: «YDEE», читается: «Уай-ди-и-и») - " +
              "набор вспомогательной функциональности для высококачественной разработки на языке TypeScript. " +
            "Включает в себя как множество простых узкоспециализированных функций, так и мощных классов, например " +
              "«RawObjectDataProcessor» для валидации и постобработки структур данных. " +
            "Имена функций, параметров и так далее спроектированы так, чтобы при знании базового английского код был " +
              "понятным и очевидным без обращения к документации."
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/Minimal/MinimalLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents",
        "@Pages/Top/TopPage"
      ]
    });

    RoutingEmulator.setCurrentRoute("top");

    LanguageDropDownList__YDF_DK.setLinks({
      english: routing.english.top.$URI,
      japanese: routing.japanese.top.$URI
    });


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  main.TopPage

    .TopPage-ImageAndTopHeadingGroup

      img.TopPage-ImageAndTopHeadingGroup-Image(
        src="@Shared/Icons/YDEE_Icon.svg"
        alt="Общий логотип библиотек Yamato Daiwa ES Extensions"
      )

      h1.TopPage-ImageAndTopHeadingGroup-Heading
        span.TopPage-ImageAndTopHeadingGroup-Heading-FirstLine Yamato Daiwa
        span.TopPage-ImageAndTopHeadingGroup-Heading-SecondLine ECMAScript Extensions

    p.TopPage-ShortDescription-Heading.
      Богатые функциональностью библиотеки для высококачественной разработки на языке TypeScript

    +SingleImageViewer--YDF({
      imageURI: "@AssociatedWithPages/Top/Images/TopPage-MainVisual.russian",
      imageAlternateText:
          "Библиотека «Yamato Daiwa ECMAScript Extensions» (сокращённо: «YDEE», читается: «Уай-ди-и-и»). " +
          "Функции и классы с понятным API для уменьшения рутинного кода. " +
          "TypeScript без «any»",
      autoAspectRatioByYDA: true,
      geometry: SingleImageViewer__YDF.GeometricVariations.minimalistic,
      decoration: SingleImageViewer__YDF.DecorativeVariations.minimalistic
    }).TopPage-MainVisual

    +AdmonitionBlock--YDF({
      decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.warning,
      SVG_Icon: true
    }).TopPage-Disclaimer.

      Сайт документации находится на стадии разработки разработки.
      До тех пор, пока некоторые страницы не готовы, Вы будете перенаправлены на временную англоязычную
        Markdown-документацию на официальном GitHub-репозитории этого проекта.
      Просим Вас понять, что качественное документирование требует больше времени, чем разработка, а библиотека
        нуждается в новой функциональности, а потому разработка новой функциональности будет осуществляться с большим
        приоритетом.

    +CompactTableOfContents--YDF_DK(localizedRouting).TopPage-TableOfContents
