extends ../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/Minimal/MinimalLayout.pug


block append Requirements

  include ../../SharedComponents/SharedComponents.russian.pug
  include ../../SharedAssets/Markup/SharedAssets.russian.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ru";
    HTML_PAGE_TITLE = buildHTML_PageTitle("Главная страница");
    HTML_PageMetaData = {
      description:
          "Библиотека «Yamato Daiwa ECMAScript extensions» (сокращённо: «YDEE», читается: «Уай-ди-и-и») - " +
            "набор вспомогательной функциональности для высококачественной разработки на языке TypeScript. " +
          "Включает в себя как множество простых узкоспециализированных функций, так и мощных классов, например " +
            "«RawObjectDataProcessor» для валидации и постобработки структур данных. " +
          "Имена функций, параметров и так далее спроектированы так, чтобы при знании базового английского код был " +
            "понятным и очевидным без обращения к документации.",
      author: HTML_PAGE_AUTHOR
    };

    FAVICON_URI = "@MustBeInPublicRoot/favicon.ico"

    styleSheetsURIs = [ "@Shared/CommonStyles", "@Layouts/Minimal/MinimalLayout", "@Shared/ExternalComponents", "@Pages/Top/TopPage" ];
    scriptsURIs.endOfBody = [ "@Common" ];

    RoutingEmulator.setCurrentRoute("top");

    LanguageDropDownList__YDF_DK.setLinks({
      english: "./../index.html",
      japanese: "./TopPage.japanese.html"
    });


block append HeadScriptsLinks

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  main.TopPage

    .TopPage-ImageAndTopHeadingGroup

      img.TopPage-ImageAndTopHeadingGroup-Image(
        src="@Shared/Icons/YDEE_Icon.svg"
        alt="Общий логотип библиотек Yamato Daiwa ES Extensions"
      )

      h1.TopPage-ImageAndTopHeadingGroup-Heading
        span.TopPage-ImageAndTopHeadingGroup-Heading-FirstLine Yamato Daiwa
        span.TopPage-ImageAndTopHeadingGroup-Heading-SecondLine ECMAScript Extensions

    p.TopPage-ShortDescription-Heading.
      Богатые функциональностью библиотеки для высококачественной разработки на языке TypeScript

    +AttentionBox--YDF({
      decoration: AttentionBox__YDF.DecorativeVariations.warning,
      hasPrependedSVG_Icon: true
    }).TopPage-Disclaimer.

      Сайт документации находится на стадии разработки разработки.
      До тех пор, пока некоторые страницы не готовы, Вы будете перенаправлены на временную англоязычную
        Markdown-документацию на официальном GitHub-репозитории этого проекта.
      Просим Вас понять, что качественное документирование требует больше времени, чем разработка, а библиотека
        нуждается в новой функциональности, а потому разработка новой функциональности будет осуществляться с большим
        приоритетом.

    +CompactTableOfContents--YDF_DK(localizedRouting).TopPage-TableOfContents
