extends ../../../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../../SharedAssets/Markup/SharedAssets.russian.pug
  include ../../../../../../SharedComponents/SharedComponents.russian.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("moveArrayElementTo1Position"),
        description: MetaDescriptionTemplates.function({
          functionName: "moveArrayElementTo1Position",
          whatFunctionDoes: ""
        })
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute("coreLibrary.functionality.arrays.permutationsOfElements.moveArrayElementTo1Position");

    LanguageDropDownList__YDF_DK.setLinks({
      english: routing.english.coreLibrary.$children.functionality.$children.arrays.$children.
          permutationsOfElements.$children.moveArrayElementTo1Position.$URI,
      japanese: routing.japanese.coreLibrary.$children.functionality.$children.arrays.$children.
          permutationsOfElements.$children.moveArrayElementTo1Position.$URI
    });

    const { $sectioning: localizedSectioning } = localizedRouting.coreLibrary.$children.functionality.$children.arrays.
        $children.permutationsOfElements.$children.moveArrayElementTo1Position;


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    h1.Article-Heading1!= "<code>moveArrayElementTo1Position</code>"

    +CodeViewer--YDF({ title: "Сигнатура" })
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.TypeScript }): :code_listing--yda
        <ArrayElement>(
          sourceDataAndOptions: Readonly<
            (
              {
                mutably: true;
                targetArray: Array<ArrayElement>;
              } |
              {
                mutably: false;
                targetArray: ReadonlyArray<ArrayElement>;
              }
            ) &
            (
              {
                targetElementNumber__numerationFrom0: number;
                targetElementNumber__numerationFrom1?: never;
              } |
              {
                targetElementNumber__numerationFrom0?: never;
                targetElementNumber__numerationFrom1: number;
              }
            ) &
            {
              toLeft: boolean;
              errorMustBeThrownIf: Readonly<{
                elementsCountIsLessThan2: boolean;
                targetElementNumberIsOutOfRange: boolean;
              }>;
            }
          >
        ): Array<ArrayElement>

    +PageNotReadyApology--YDPD({
      currentState: PageNotReadyApology__YDPD.States.initialTextNotWritten
    })


    //- ━━━ Внешние ссылки ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    +Heading--YDF({
      level: 2,
      text: localizedSectioning.externalLinks.$heading,
      HTML_ID: localizedSectioning.externalLinks.$anchor
    }).Article-Heading2

    +LinksCardsFlow--YDF

      +LinksCardsFlow-ItemWithSVG_Icon--YDF({
        unendorsedExternalURI: GIT_HUB_REPOSITORY_URI_COMMON_PART__ACTUAL_BRANCH__WITH_TRAILING_SLASH +
            "CoreLibrary/Package/Source/Arrays/06-PermutationsOfElements/moveArrayElementTo1Position.ts",
        title: "Исходный код"
      }): +File__SourceCode--YDF_Icon.LinksCardsFlow--YDF-SVG_Icon

      +LinksCardsFlow-ItemWithSVG_Icon--YDF({
        unendorsedExternalURI: GIT_HUB_REPOSITORY_URI_COMMON_PART__ACTUAL_BRANCH__WITH_TRAILING_SLASH +
            "CoreLibrary/Package/Tests/Automated/Arrays/06-PermutationsOfElements/moveArrayElementTo1Position.test.ts",
        title: "Код тестов"
      }): +File__TestCode--YDF_Icon.LinksCardsFlow--YDF-SVG_Icon
