include getArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne.toc.pug


-

  localizedRouting.coreLibrary.$children.
      functionality.$children.
      arrays.$children.
      retrievingOfElements.$children.
      getArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne.$sectioning =

          generatePageTableOfContents({
            example: { $heading: "Example" },
            comparisonWithNativeMethods: { $heading: "Comparison with native methods" },
            quickInputInIntelliJIDEA_FamilyOfIDEs: {
              $heading: "Quick input in IntelliJ IDEA family of IDEs",
              stepsForUsingTheLiveTemplates: { $heading: "Steps for using the Live templates" }
            },
            externalLinks: { $heading: "External links" }
          });
