include getArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne.toc.pug


-

  localizedRouting.coreLibrary.$children.
      functionality.$children.
      arrays.$children.
      retrievingOfElements.$children.
      getArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne.$sectioning =

          generatePageTableOfContents(
            (() => {

              /* [ Maintainability ] Keep this constant to make able the copying of qualified names in IntelliJ IDEA IDEs. */
              const localizedStrings = {
                example: { $heading: "Example" },
                comparisonWithNativeMethods: { $heading: "Comparison with native methods" },
                IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidance:
                    IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidanceTableOfContentsMetadataLocalization__english,
                externalLinks: { $heading: "External links" }
              };

              return localizedStrings;

            })()
          );
