include getArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne.toc.pug


-

  localizedRouting.coreLibrary.$children.
      functionality.$children.
      arrays.$children.
      retrievingOfElements.$children.
      getArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne.$sectioning =

          generatePageTableOfContents({
            example: { $heading: "例" },
            comparisonWithNativeMethods: { $heading: "ネイティブメソッドとの比較" },
            quickInputInIntelliJIDEA_FamilyOfIDEs: {
              $heading: "「IntelliJ IDEA」ファミリー統合開発環境に於ける高速入力",
              stepsForUsingTheLiveTemplates: { $heading: "Live Templateの利用手順" }
            },
            externalLinks: { $heading: "外部リンク" }
          });
