extends ../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append PageContent

  .MinimalLayout

    .MinimalLayout-UpperFixedContentSlot

      +Header

      block UpperFixedContentSlot


    .MinimalLayout-SpecificContent

      block SpecificContent

      .MinimalLayout-BottomContentSlot

        +Footer

    +DrawerMenu({}, { display: false })
