extends ../../../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../../SharedAssets/Markup/SharedAssets.japanese.pug
  include ../../../../../../SharedComponents/SharedComponents.japanese.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("getIndexesOfArrayElementsWhichSatisfiesThePredicate"),
        description: MetaDescriptionTemplates.function({
          functionName: "getIndexesOfArrayElementsWhichSatisfiesThePredicate",
          whatFunctionDoes: ""
        })
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute("coreLibrary.functionality.arrays.retrievingOfIndexes.getIndexesOfArrayElementsWhichSatisfiesThePredicate");

    LanguageDropDownList__YDF_DK.setLinks({
      english: routing.english.coreLibrary.$children.functionality.$children.arrays.$children.retrievingOfIndexes.$children.
          getIndexesOfArrayElementsWhichSatisfiesThePredicate.$URI,
      russian: routing.russian.coreLibrary.$children.functionality.$children.arrays.$children.retrievingOfIndexes.$children.
          getIndexesOfArrayElementsWhichSatisfiesThePredicate.$URI
    });

    const { $sectioning: localizedSectioning } = localizedRouting.coreLibrary.$children.functionality.$children.arrays.
        $children.retrievingOfIndexes.$children.getIndexesOfArrayElementsWhichSatisfiesThePredicate;


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    +CallableExpressionScheme--YDF_DK({
      technicalName: "getIndexesOfArrayElementsWhichSatisfiesThePredicate",
      localizedDescriptiveHeading: "プレディケートを満たしている配列の要素の指数を取得する",
      headingTag: "h1",
      genericParameters: [ "ArrayElement" ],
      parametersSpecification: [
        {
          type: "Array<ArrayElement>",
          required: true,
          genericTechnicalName: "targetArray",
          localizedName: "目標的配列"
        },
        {
          type: "(arrayElement: ArrayElement) => boolean",
          required: true,
          genericTechnicalName: "predicate",
          localizedName: "プレディケート"
        }
      ],
      returnedValue: "Array<number>"
    })

    +PageNotReadyApology--YDPD({
      currentState: PageNotReadyApology__YDPD.States.initialTextNotWritten
    })


    //- ━━━ 外部リンク ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    +Heading--YDF({
      level: 2,
      text: localizedSectioning.externalLinks.$heading,
      HTML_ID: localizedSectioning.externalLinks.$anchor
    }).Article-Heading2

    +LinksCardsFlow--YDF

      +LinksCardsFlow-ItemWithSVG_Icon--YDF({
        unendorsedExternalURI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/" +
            "Package/Documentation/Arrays/getIndexesOfArrayElementsWhichSatisfiesThePredicate/" +
            "getIndexesOfArrayElementsWhichSatisfiesThePredicate.md",
        title: "一時的英語マークダウン資料"
      }): +File__SourceCode--YDF_Icon.LinksCardsFlow--YDF-SVG_Icon

      +LinksCardsFlow-ItemWithSVG_Icon--YDF({
        unendorsedExternalURI: GIT_HUB_REPOSITORY_URI_COMMON_PART__ACTUAL_BRANCH__WITH_TRAILING_SLASH +
            "CoreLibrary/Package/Source/Arrays/02-RetrievingOfIndexes/getIndexesOfSatisfiesThePredicateArrayElements.ts",
        title: "ソースコード"
      }): +File__SourceCode--YDF_Icon.LinksCardsFlow--YDF-SVG_Icon

      +LinksCardsFlow-ItemWithSVG_Icon--YDF({
        unendorsedExternalURI: GIT_HUB_REPOSITORY_URI_COMMON_PART__ACTUAL_BRANCH__WITH_TRAILING_SLASH +
            "CoreLibrary/Package/Tests/Automated/Arrays/02-RetrievingOfIndexes/getIndexesOfSatisfiesThePredicateArrayElements.test.ts",
        title: "テストコード"
      }): +File__TestCode--YDF_Icon.LinksCardsFlow--YDF-SVG_Icon
