extends ../../../../../Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../Components/Components.pug
  include ../../../../../SharedAssets/Markup/Assets.english.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "en";
    HTML_PAGE_TITLE = buildHTML_PageTitle("areStringifiedDigitsOnly");
    HTML_PageMetaData = {
      description: MetaDescriptionTemplates.function({
        functionName: "areStringifiedDigitsOnly",
        whatFunctionDoes: "checks does target string includes only digit characters."
      }),
      author: HTML_PAGE_AUTHOR
    };

    FAVICON_URI = "@MustBeInRoot/favicon";

    styleSheetsURIs = [ "@Shared/CommonStyles", "@Shared/ExternalComponents" ];
    scriptsURIs.endOfBody = [ "@Common" ];

    LanguageDropDownList.setLinks({
      [LanguageDropDownList.supportedLanguages.japanese]: "./areStringifiedDigitsOnly.japanese.pug",
      [LanguageDropDownList.supportedLanguages.russian]: "./areStringifiedDigitsOnly.russian.pug"
    });


block append SpecificContent

  article

    +ProgrammaticEntityHeading({
      headingElementTag: "h1",
      entityName: "areStringifiedDigitsOnly",
      entityLocalizedInterpretation: "Stringified digits only check"
    }).Article-ProgrammaticEntityHeading

    +CallableExpressionScheme({
      technicalName: "areStringifiedDigitsOnly",
      localizedDescriptiveHeading: "Stringified digits only check",
      parametersSpecification: [
        {
          localizedName: "Target string",
          type: "string",
          required: true,
          genericTechnicalName: "targetString"
        }
      ],
      returnedValue: "boolean"
    }).Article-CallableExpressionScheme

    //- TODO 翻訳依頼
