include GetStartedWithCoreLibraryPage.toc.pug


-

  localizedRouting.coreLibrary.$children.gettingStarted.$sectioning = generatePageTableOfContents(
    (() => {

      /* [ Maintainability ] Keep this constant to make able the copying of qualified names in IntelliJ IDEA IDEs. */
      const localizedStrings = {
        installation: { $heading: "Installation" },
        distributiveVolumeNotice: { $heading: "Information About Distribution Size" },
        nonTypeScriptUsageWarning: { $heading: "Precautions for Non-Users of TypeScript" },
        importingFunctionality: { $heading: "Importing Functionality" }
      };

      return localizedStrings;

    })()
  );
