include GetStartedWithCoreLibraryPage.toc.pug


-

  localizedRouting.coreLibrary.$children.gettingStarted.$sectioning = generatePageTableOfContents(
    (() => {

      /* [ Maintainability ] Keep this constant to make able the copying of qualified names in IntelliJ IDEA IDEs. */
      const localizedStrings = {
        installation: { $heading: "Установка" },
        distributiveVolumeNotice: { $heading: "Об объёме дистрибутива" },
        nonTypeScriptUsageWarning: { $heading: "Предупреждение об использовании без TypeScript" },
        importingFunctionality: { $heading: "Импорт функциональности" }
      };

      return localizedStrings;

    })()
  );
