-

  generatePageTableOfContents = localizedStrings => {

    const PAGE_URI = localizedRouting.coreLibrary.$children.gettingStarted.$URI;

    const tableOfContents = {};

    return tableOfContents;

  };
