extends ../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../SharedAssets/Markup/Assets.english.pug
  include ../../../Components/Components.english.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "en";
    HTML_PAGE_TITLE = buildHTML_PageTitle("ConsoleCommandsParser");
    HTML_PageMetaData = {
      description: "",
      author: HTML_PAGE_AUTHOR
    };

    FAVICON_URI = "@MustBeInPublicRoot/favicon";

    styleSheetsURIs = [ "@Shared/CommonStyles", "@Layouts/TwoColumns/TwoColumnsLayout", "@Shared/ExternalComponents" ];
    scriptsURIs.endOfBody = [ "@Common" ];

    RoutingEmulator.setCurrentRoute("localizedRouting.nodeJS.utils.ConsoleCommandsParser");

    LanguageDropDownList__YDF_DK.setLinks({
      japanese: "./ConsoleCommandsParser.japanese.html",
      russian: "./ConsoleCommandsParser.russian.html"
    });


block append SpecificContent

  article

    h1.Article-Heading1 ConsoleCommandsParser

    h2.Article-Heading2 Minimal theory

    ul.Article-UnorderedList

      li.
        There are #[+Keyword--YDID no] official terminology and standards concerning the #[+Term--YDID console command]
          anatomy - #[+Keyphrase--YDID just more or less established convention].

      li
        | At last, the #[+ImportantEntity__Code--YDID process.argv] (shorthand for the #[+Term--YDID "arguments vector"],
        | the
        +Link--YDF({
          unendorsedExternalURI: "https://stackoverflow.com/questions/3024197/what-does-int-argc-char-argv-mean"
        }).Article-Link convention inherited from C++ language
        |) is the #[+Term--YDID array] of #[+Term__Contrast--YDID strings].
        | What to do with them - the author of the application is deciding.
