provideFunctionHeadingComponent()

  .FunctionCompoundHeading

    &-FunctionName

      display block

      MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({ fontSize: 1.4rem, lineHeight: 1.2 })

      font-family Consolas, monaco, Meiryo UI, monospace
      font-weight bold
      word-break break-all

      color ShadesOfGray__39ColorsW3C_Palette[12]


    &-FunctionNameLocalizedInterpretation

      display block

      MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({ fontSize: 1.2rem, lineHeight: 1.2 })

      font-weight bold
      color ShadesOfGray__39ColorsW3C_Palette[20]

      margin-top 0.2rem
