-

  const sharedExternalLinksRussianLocalization = {
    wikipedia: {
      math: {
        euler_sNumber: "https://ru.wikipedia.org/wiki/E_(%D1%87%D0%B8%D1%81%D0%BB%D0%BE)"
      }
    },
    mdn: {
      array: {
        unshift: "https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Array/unshift"
      }
    },
    jetBrains: {
      liveTemplates: "https://habr.com/ru/post/414813/"
    }
  };
