-

  const MetaDescriptionTemplates = {

    function: ({ functionName, whatFunctionDoes }) =>
      `Функция &quot;${ functionName }&quot; библиотеки &quot;Yamato Daiwa ECMAScript extensions&quot; ` +
      `(сокращённо: &quot;YDEE;&quot;) ${ whatFunctionDoes }`

  };
