-

  const MetaDescriptionTemplates = {

    function: ({ functionName, whatFunctionDoes }) =>
        `Функция «${ functionName }» библиотеки «Yamato Daiwa ECMAScript extensions» ` +
        `(сокращённо: «YDEE») ${ whatFunctionDoes }`,

    class: ({ className, whatIsClassFor }) =>
        `Класс «${ className }» библиотеки «Yamato Daiwa ECMAScript extensions» ` +
        `(сокращённо: «YDEE») ${ whatIsClassFor }`

  };
