mixin IntellIJ_IDEA_IDEs_LiveTemplateUsageGuidance(properties)

  - const { imageURI } = properties


  h2.Article-Heading2 Быстрый ввод и интегрированных средах разработки семейства IntelliJ IDEA

  +SingleImageViewer--YDF({
    imageURI: imageURI,
    imageAlternateText: "Быстрый ввод и интегрированных средах разработки семейства IntelliJ IDEA"
  })

  p.Article-Paragraph.
    Использование
      #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.liveTemplates }).Article-Link Live template-ов]
      семейства #[+Term--YDID интегрированных сред разработки]
      #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.intelliJ_IDEA_FamilyIDEs }).Article-Link IntelliJ IDEA]
      позволяет вводить код включая #[+Term--YDID выражение вызова функции] быстро.
    Для получения доступа к #[+Term--YDID Live Template-ам] библиотеки #[+ImportantEntity--YDID YDEE] потребуется установить
      #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.YDEE_Plugin }).Article-Link официальный плагин]
      этой библиотеки.


  h3.Article-Heading3 Пошаговое описание процесса использования шаблона

  p.Article-Paragraph.
    Если Вы ранее не пользовались #[+Term--YDID Live template-ами], то пусть Вас не пугает приведённая ниже объёмная инструкция:
      при сформированных привычках (сходных с привычкой применения сочетаний клавиш) скорость выполнение описанных
      ниже операций займёт считанные секунды.

  block
