-

  const routingRussianLocalization = {

    fileNameLocalizationExtensions: "russian",

    topPage: {
      tableOfContentsTitle: "Главная страница",
      URI: "@All/Top/TopPage.russian"
    },

    coreLibrary: {

      tableOfContentsTitle: "Основная библиотека",

      gettingStarted: {
        tableOfContentsTitle: "Начало работы",
        sections: {
          installation: { tableOfContentsTitle: "Установка" },
          distributiveVolumeNotice: { tableOfContentsTitle: "Заметка об объёме дистрибутива" },
          nonTypeScriptUsageWarning: { tableOfContentsTitle: "Предупреждение об использование без TypeScript" },
          importingOfFunctionality: { tableOfContentsTitle: "Импорт зависимостей" }
        }
      },

      functionality: {
        tableOfContentsTitle: "Функциональность",
        children: {

          strings: {
            tableOfContentsTitle: "Работа со строками"
          },

          arrays: {

            tableOfContentsTitle: "Работа с массивами",

            retrievingOfElements: {
              tableOfContentsTitle: "Получение элементов"
            },

            retrievingOfIndexes: {
              tableOfContentsTitle: "Получение индексов"
            },

            addingOfElements: {
              tableOfContentsTitle: "Добавление элементов"
            },

            removingOfElements: {
              tableOfContentsTitle: "Удаление элементов"
            },

            other: {
              tableOfContentsTitle: "Остальные"
            }

          },

          constantsAndEnumerations: {
            tableOfContentsTitle: "Константы и перечисления",
            dateTime: { tableOfContentsTitle: "Дата и время" },
            HTTP: { HTTP_StatusCodes: { tableOfContentsTitle: "Коды состояний HTTP" } }
          },

          dataMocking: {
            tableOfContentsTitle: "Мокинг данных",
            guide: { tableOfContentsTitle: "Руководство по мокингу данных" },
            DataMockingClass: { tableOfContentsTitle: "Класс <code>DataMocking</code>" },
          },

          dateTime: {
            tableOfContentsTitle: "Дата и время",
            comparison: { tableOfContentsTitle: "Сравнение" },
            other: { tableOfContentsTitle: "Остальные" }
          }

        }
      }

    }

  };
