-

  const routingRussianLocalization = {

    fileNameLocalizationExtensions: "russian",

    topPage: {
      tableOfContentsTitle: "Главная страница",
      URI: "@All/Top/TopPage.russian"
    },

    coreLibrary: {

      tableOfContentsTitle: "Основная библиотека",

      gettingStarted: {
        tableOfContentsTitle: "Начало работы",
        sections: {
          installation: { tableOfContentsTitle: "Установка" },
          distributiveVolumeNotice: { tableOfContentsTitle: "Заметка об объёме дистрибутива" },
          nonTypeScriptUsageWarning: { tableOfContentsTitle: "Предупреждение об использование без TypeScript" },
          importingOfFunctionality: { tableOfContentsTitle: "Импорт зависимостей" }
        }
      },

      functionality: {

        tableOfContentsTitle: "Функциональность",

        strings: {
          tableOfContentsTitle: "Работа со строками"
        },

        arrays: {

          tableOfContentsTitle: "Работа с массивами",

          retrievingOfElements: {
            tableOfContentsTitle: "Получение элементов"
          },

          retrievingOfIndexes: {
            tableOfContentsTitle: "Получение индексов"
          },

          addingOfElements: {
            tableOfContentsTitle: "Добавление элементов"
          },

          removingOfElements: {
            tableOfContentsTitle: "Удаление элементов"
          },

          other: {
            tableOfContentsTitle: "Остальные"
          }

        },

        constantsAndEnumerations: {
          tableOfContentsTitle: "Константы и перечисления",
          dateTime: { tableOfContentsTitle: "Дата и время" },
          HTTP: { HTTP_StatusCodes: { tableOfContentsTitle: "Коды состояний HTTP" } }
        },

        dataMocking: {
          tableOfContentsTitle: "Мокинг данных",
          guide: { tableOfContentsTitle: "Руководство по мокингу данных" },
          DataMockingClass: { tableOfContentsTitle: "Класс <code>DataMocking</code>" },
        },

        dateTime: {
          tableOfContentsTitle: "Дата и время",
          comparison: { tableOfContentsTitle: "Сравнение" },
          other: { tableOfContentsTitle: "Остальные" }
        },

        defaultValueSubstituters: { tableOfContentsTitle: "Подстановка значений по умолчанию" },

        errors: { tableOfContentsTitle: "Классы ошибок" },

        logging: {
          tableOfContentsTitle: "Логирование",
          loggerFacade: { tableOfContentsTitle: "Фасад <code>Logger</code>" },
          loggerInterface: { tableOfContentsTitle: "Интерфейс <code>ILogger</code>" },
          relatedTypes: { tableOfContentsTitle: "Связанные типы" },
        },

        maps: { tableOfContentsTitle: "Работа с типом данных Map" },

        numbers: { tableOfContentsTitle: "Работа с числами" },

        objects: { tableOfContentsTitle: "Работа с объектами" },

        pagination: { tableOfContentsTitle: "Пагинация" },

        promises: { tableOfContentsTitle: "Промисы" },

        randomValuesGenerators: { tableOfContentsTitle: "Генераторы случайных значений" },

        rawObjectDataProcessor: {
          quickExample: { tableOfContentsTitle: "Пример" },
          problemOverview: { tableOfContentsTitle: "Обзор задачи" },
          theoreticalMinimum: { tableOfContentsTitle: "Теоретический минимум" },
          gettingStarted: { tableOfContentsTitle: "Начало использования" },
          helpers: { tableOfContentsTitle: "Вспомогательная функциональность" }
        },

        sets: { tableOfContentsTitle: "Наборы (Set)" },

        strings: {
          tableOfContentsTitle: "Работа со строками",
          charactersAssets: { tableOfContentsTitle: "Наборы символов" },
          regularExpressions: { tableOfContentsTitle: "Регулярные выражения" },
          URI: { filesAndDirectories: { tableOfContentsTitle: "Файлы и директории" } },
          other: { tableOfContentsTitle: "Другое" }
        },

        typeGuards: {
          tableOfContentsTitle: "Проверяющие типов данных",
          arrays: { tableOfContentsTitle: "Массивы" },
          nullables: { tableOfContentsTitle: "Пустые типы" },
          numbers: { tableOfContentsTitle: "Числа" },
          objects: { tableOfContentsTitle: "Объекты" },
          strings: { tableOfContentsTitle: "Строки" },
          others: { tableOfContentsTitle: "Другие" }
        },

        types: { tableOfContentsTitle: "Типы" },

        valueTransformers: { tableOfContentsTitle: "Преобразователи выражений" }

      }

    },

    browserJS: {
      tableOfContentsTitle: "Браузерный JS"
    },

    NodeJS: {
      utils: { tableOfContentsTitle: "Утилиты" }
    }

  };
