-

  const routingRussianLocalization = {

    fileNameLocalizationExtensions: "russian",

    topPage: {
      tableOfContentTitle: "Главная страница",
      URI: "@All/Top/TopPage.russian"
    },

    coreLibrary: {

      tableOfContentTitle: "Основная библиотека",

      gettingStarted: {
        tableOfContentTitle: "Начало работы",
        sections: {
          installation: { tableOfContentTitle: "Установка" },
          distributiveVolumeNotice: { tableOfContentTitle: "Заметка об объёме дистрибутива" },
          nonTypeScriptUsageWarning: { tableOfContentTitle: "Предупреждение об использование без TypeScript" },
          importingOfFunctionality: { tableOfContentTitle: "Импорт зависимостей" }
        }
      },

      functionality: {
        tableOfContentTitle: "Функциональность",
        children: {

          strings: {
            tableOfContentTitle: "Работа со строками",
          },

          arrays: {

            tableOfContentTitle: "Работа с массивами",

            retrievingOfElements: {
              tableOfContentTitle: "Получение элементов"
            },

            retrievingOfIndexes: {
              tableOfContentTitle: "Получение индексов"
            },

            addingOfElements: {
              tableOfContentTitle: "Добавление элементов"
            }

          }

        }
      }

    }

  };
