.DrawerMenu

  &-Overlay

    position fixed

    top 0
    bottom 0
    left 0
    right 0
    z-index ZIndexes.drawers

    background rgba(black, 0.25)


  &-Drawer

    width 0.8*NARROWEST_SCREEN_WIDTH_UNIT
    height 100%

    background: ShadesOfGray__39ColorsW3C_Palette[8]
    box-shadow 0 4px 8px 4px rgba(black, 0.25)
