mixin DrawerMenu(properties, statesSimulations)

  -

    statesSimulations = statesSimulations ?? {}

    const {
      display = false
    } = statesSimulations


  if display

    .DrawerMenu-Overlay&attributes(attributes)

      .DrawerMenu-Drawer

        block
