extends ../../../Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../Components/Components.pug
  include ../../../SharedAssets/Markup/Assets.japanese.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ja";
    HTML_PAGE_TITLE = buildHTML_PageTitle("利用開始");
    HTML_PageMetaData = {
      description: "「Yamato Daiwa ECMAScript extensions」ライブラリの利用開始の案内。導入、容量、TypeScript無しの利用関連注意事項、機能のインポート",
      author: HTML_PAGE_AUTHOR
    };

    FAVICON_URI = "@MustBeInRoot/favicon";

    styleSheetsURIs = [ "@Shared/CommonStyles", "@Shared/ExternalComponents" ];
    scriptsURIs.endOfBody = [ "@Common" ];

    RoutingEmulator.setCurrentRoute("coreLibrary.children.gettingStarted");

    LanguageDropDownList.setLinks({
      [LanguageDropDownList.supportedLanguages.english]: "./GetStartedWithCoreLibraryPage.english.html",
      [LanguageDropDownList.supportedLanguages.russian]: "./GetStartedWithCoreLibraryPage.russian.html"
    });


block append SpecificContent

  article.Article.DocumentationPage-Article

    h1.Article-Heading1 利用開始
    h2.Article-Heading2#Installation--SECTION 導入
    h2.Article-Heading2#DistributiveVolumeNotice--SECTION ライブラリ容量関連注目
    h2.Article-Heading2#NonTypeScriptUsageWarning--SECTION 非TypeScript利用関連注意事項
    h2.Article-Heading2#ImportingOfFunctionality--SECTION 機能のインポート
