extends ../../../Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../SharedAssets/Markup/HTML_PageMetadata.pug
  include ../../../SharedAssets/Markup/generateLocalizedRouting.pug

  include ../../../../node_modules/@yamato-daiwa/frontend/Components.pug
  include ../../../../node_modules/@yamato-daiwa/frontend-documenting-kit/Components.pug
  include ../../../Components/Components.pug

  include ../../../SharedAssets/Markup/Localizations/EnglishLocalization.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "en"
    HTML_PAGE_TITLE = buildHTML_PageTitle("Getting started");
    HTML_PageMetaData = {
      description: "", // TODO
      author: HTML_PAGE_AUTHOR
    }

    FAVICON_URI = "@MustBeInRoot/favicon"

    styleSheetsURIs = [ "@Shared/CommonStyles", "@Shared/ExternalComponents" ];
    scriptsURIs.endOfBody = [ "@Common" ];


block append SpecificContent

  article.Article.DocumentationPage-Article

    h1.Article-Heading1 Getting started
    h2.Article-Heading2#Installation--SECTION Installation
    h2.Article-Heading2#DistributiveVolumeNotice--SECTION Distributive volume notice
    h2.Article-Heading2#NonTypeScriptUsageWarning--SECTION Non TypeScript usage warning
    h2.Article-Heading2#ImportingOfFunctionality--SECTION Importing of the functionality
