@require "../../node_modules/@yamato-daiwa/programming_documentation/YDPD-Customizables.styl"

@require "../SharedComponents/External/LanguageDropDownList.styl"
@require "../SharedComponents/External/OnePerPage/CompactTableOfContents.styl"
@require "../SharedComponents/External/OnePerPage/DrawerMenu.styl"
@require "../SharedComponents/External/OnePerPage/Footer.styl"
@require "../SharedComponents/External/OnePerPage/Header.styl"
