@require "../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../node_modules/@yamato-daiwa/frontend/Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


@require "../../Components/SharedReusable/FunctionCompoundHeading/FunctionCompoundHeading.styl"

@require "../../Components/SharedSingletons/Layouts/Main/MainLayout.styl"


provideFunctionHeadingComponent()
