@require "../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../node_modules/@yamato-daiwa/frontend/Components.styl"
@require "../../../node_modules/@yamato-daiwa/frontend-documenting-kit/Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


@require "../../Components/SharedSingletons/Layouts/Main/MainLayout.styl"


provideProgrammaticEntityHeadingComponentStyles()
provideCallableExpressionSchemeAndRelatedComponentStyles()
