@require "../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../node_modules/@yamato-daiwa/frontend/Components.styl"
@require "../../../node_modules/@yamato-daiwa/frontend-documenting-kit/Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


@require "../../Components/SharedSingletons/Layouts/Main/MainLayout.styl"
@require "../../Components/SharedSingletons/Header/Header.styl"

provideTypography(overridings: {
  CSS_NamespacePrefix: "Article"
})
provideYamatoDaiwaInformationDesignClasses()

provideProgrammaticEntityHeadingComponentStyles()
provideCallableExpressionSchemeAndRelatedComponentStyles()


.DocumentationPage

  &-Article

    margin-top 24px
