@require "../../../node_modules/@yamato-daiwa/programming_documentation/YDPD-PreMades.styl"
@require "../../../node_modules/@yamato-daiwa/programming_documentation/YDPD-Customizables.styl"

@require "../../Components/SharedReusable/Controls/LanguageDropDownList.styl"

@require "../../Components/SharedSingletons/DrawerMenu.styl"
@require "../../Components/SharedSingletons/Footer.styl"
@require "../../Components/SharedSingletons/Header.styl"
