@require "../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../node_modules/@yamato-daiwa/frontend/Components.styl"
@require "../../../node_modules/@yamato-daiwa/frontend-documenting-kit/Components.styl"
@require "../../../node_modules/@yamato-daiwa/programming_documentation/Components.styl"

@require "../../Components/External/Controls/LanguageDropDownList.styl"
@require "../../Components/External/Infographic/CallableExpressionScheme.styl"
@require "../../Components/External/Typography/CompactTableOfContents.styl"
@require "../../Components/External/Typography/ImprovedList.styl"
@require "../../Components/External/Typography/ProgrammaticEntityHeading.styl"
@require "../../Components/External/AttentionBox.styl"
@require "../../Components/External/Badge.styl"
@require "../../Components/External/Button.styl"

@require "../../Components/External/CodeViewer.styl"
@require "../../../node_modules/prismjs/themes/prism-tomorrow.css"
