@require "../../../node_modules/@yamato-daiwa/programming_documentation/YDPD-PreMades.styl"
@require "../../../node_modules/@yamato-daiwa/programming_documentation/YDPD-Customizables.styl"

@require "../../SharedComponents/OnePerPage/DrawerMenu.styl"
@require "../../SharedComponents/OnePerPage/Footer.styl"
@require "../../SharedComponents/OnePerPage/Header.styl"
