extends ../../../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../../SharedAssets/Markup/SharedAssets.english.pug
  include ../../../../../../SharedComponents/SharedComponents.english.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("replaceArrayElementsByPredicates"),
        description: MetaDescriptionTemplates.function({
          functionName: "replaceArrayElementsByPredicates",
          whatFunctionDoes: ""
        })
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute(
      "coreLibrary.functionality.arrays.replacingOfElements.replaceArrayElementsByPredicates"
    );

    LanguageDropDownList__YDF_DK.setLinks({
      japanese: routing.japanese.coreLibrary.$children.functionality.$children.arrays.$children.
          replacingOfElements.$children.replaceArrayElementsByPredicates.$URI,
      russian: routing.russian.coreLibrary.$children.functionality.$children.arrays.$children.
          replacingOfElements.$children.replaceArrayElementsByPredicates.$URI
    });

    const { $sectioning: localizedSectioning } = localizedRouting.coreLibrary.$children.functionality.$children.
        arrays.$children.replacingOfElements.$children.replaceArrayElementsByPredicates;


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    +CallableExpressionScheme--YDF_DK({
      technicalName: "getIndexesOfArrayElementsWhichSatisfiesThePredicate",
      headingTag: "h1",
      genericParameters: [ "ArrayElement" ],
      parametersSpecification: [
        {
          type: "Array<ArrayElement>",
          required: true,
          genericTechnicalName: "targetArray"
        },
        {
          type: "(arrayElement: ArrayElement) => boolean",
          required: true,
          genericTechnicalName: "predicate"
        }
      ],
      returnedValue: "Array<number>"
    })

    +PageNotReadyApology--YDPD({
      currentState: PageNotReadyApology__YDPD.States.initialTextNotWritten
    })


    //- ━━━ External Links ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    +Heading--YDF({
      level: 2,
      text: localizedSectioning.externalLinks.$heading,
      HTML_ID: localizedSectioning.externalLinks.$anchor
    }).Article-Heading2

    +LinksCardsFlow--YDF

      +LinksCardsFlow-ItemWithSVG_Icon--YDF({
        unendorsedExternalURI: GIT_HUB_REPOSITORY_URI_COMMON_PART__ACTUAL_BRANCH__WITH_TRAILING_SLASH +
            "CoreLibrary/Package/Source/Arrays/05-ReplacingOfElements/replaceArrayElementsByPredicates.ts",
        title: "Source code"
      }): +File__SourceCode--YDF_Icon.LinksCardsFlow--YDF-SVG_Icon

      +LinksCardsFlow-ItemWithSVG_Icon--YDF({
        unendorsedExternalURI: GIT_HUB_REPOSITORY_URI_COMMON_PART__ACTUAL_BRANCH__WITH_TRAILING_SLASH +
            "CoreLibrary/Package/Tests/Automated/Arrays/05-ReplacingOfElements/replaceArrayElementsByPredicates.test.ts",
        title: "Tests code"
      }): +File__TestCode--YDF_Icon.LinksCardsFlow--YDF-SVG_Icon
