include getLastElementOfArray.toc.pug


-

  localizedRouting.coreLibrary.$children.
      functionality.$children.
      arrays.$children.
      retrievingOfElements.$children.
      getLastElementOfArray.$sectioning =

          generatePageTableOfContents(
            (() => {

              /* [ Maintainability ] Keep this constant to make able the copying of qualified names in IntelliJ IDEA IDEs. */
              const localizedStrings = {

                examples: { $heading: "例" },
                IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidance:
                    IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidanceTableOfContentsMetadataLocalization__japanese,
                externalLinks: { $heading: "外部リンク" }

              };

              return localizedStrings;

            })()
          );
