-

  generatePageTableOfContents = localizedStrings => {

    const PAGE_URI = localizedRouting.coreLibrary.$children.
        functionality.$children.
        arrays.$children.
        retrievingOfElements.$children.
        getLastElementOfArray.$URI;

    const tableOfContents = {};

    return tableOfContents;

  };
