include getLastElementOfArray.toc.pug


-

  localizedRouting.coreLibrary.$children.
      functionality.$children.
      arrays.$children.
      retrievingOfElements.$children.
      getLastElementOfArray.$sectioning =
          generatePageTableOfContents({

          });
