-

  const GIT_HUB_REPOSITORY_URI_COMMON_PART__ACTUAL_BRANCH__WITH_TRAILING_SLASH =
      "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/tree/%40v1.8/CoreLibrary/Package/Source/Arrays";
