-

  const HTML_PAGES_TITLE_POSTFIX = " - Yamato Daiwa ES Extensions (YDEE)";

  function buildHTML_PageTitle(dynamicPart) {
    return `${ dynamicPart }${ HTML_PAGES_TITLE_POSTFIX }`;
  }

  const HTML_PAGE_AUTHOR = "Copyright (c) 2023-present, Yamato Daiwa Co., Ltd.";
