include HTML_PageMetadata/HTML_PageMetadata.pug
include Routing/generateLocalizedRouting.pug
include ExternalLinks/generateSharedExternalLinks.pug

include Localizations/English/MetaDescriptionTemplates.english.pug
include Localizations/English/RoutingLocalization.english.pug
include Localizations/English/SharedExternalLinksLocalizaiton.english.pug


-

  const localizedRouting = generateLocalizedRouting(routingEnglishLocalization);
  RoutingEmulator.initialize(localizedRouting);

  const sharedExternalLinks = generateSharedExternalLinks(sharedExternalLinksEnglishLocalization);


include CountriesFlags/GreatBritanFlag2x3.pug
include CountriesFlags/JapanFlag2x3.pug
include CountriesFlags/RussiaFlag2x3.pug
