include HTML_PageMetadata.pug
include generateLocalizedRouting.pug
include generateSharedExternalLinks.pug

include Localizations/English/ExternalLinksLocalizaiton.english.pug
include Localizations/English/MetaDescriptionTemplates.english.pug
include Localizations/English/RoutingLocalization.english.pug


-

  const localizedRouting = generateLocalizedRouting(routingEnglishLocalization);
  RoutingEmulator.initialize(localizedRouting);

  const sharedExternalLinks = generateSharedExternalLinks(sharedExternalLinksEnglishLocalization);
