include _HTML_PageMetadata.pug
include _generateSharedExternalLinks.pug

include Localizations/English/MetaDescriptionTemplates.english.pug
include Localizations/English/RoutingLocalization.english.pug
include Localizations/English/SharedExternalLinksLocalization.english.pug
include Localizations/English/ReusableFragments.english.pug

include ThirdPartyEmbeddableScripts/GoogleAnalyticsScript.pug


-

  RegularWebPageTemplate__YDF.metadata.locale = "en";

  const localizedRouting = routing.english;
  RoutingEmulator.initialize(localizedRouting);

  const sharedExternalLinks = generateSharedExternalLinks(sharedExternalLinksEnglishLocalization);
