include _HTML_PageMetadata.pug
include _generateSharedExternalLinks.pug

include Localizations/Russian/MetaDescriptionTemplates.russian.pug
include Localizations/Russian/RoutingLocalization.russian.pug
include Localizations/Russian/SharedExternalLinksLocalization.russian.pug
include Localizations/Russian/ReusableFragments.russian.pug

include ThirdPartyEmbeddableScripts/GoogleAnalyticsScript.pug


-

  RegularWebPageTemplate__YDF.metadata.locale = "ru";

  const localizedRouting = routing.russian;
  RoutingEmulator.initialize(localizedRouting);

  const sharedExternalLinks = generateSharedExternalLinks(sharedExternalLinksRussianLocalization);
