include _HTML_PageMetadata.pug
include _generateSharedExternalLinks.pug

include Localizations/Japanese/MetaDescriptionTemplates.japanese.pug
include Localizations/Japanese/RoutingLocalization.japanese.pug
include Localizations/Japanese/SharedExternalLinksLocalization.japanese.pug
include Localizations/Japanese/ReusableFragments.japanese.pug

include ThirdPartyEmbeddableScripts/GoogleAnalyticsScript.pug


-

  RegularWebPageTemplate__YDF.metadata.locale = "ja";

  const localizedRouting = routing.japanese;
  RoutingEmulator.initialize(localizedRouting);

  const sharedExternalLinks = generateSharedExternalLinks(sharedExternalLinksJapaneseLocalization);
