include _HTML_PageMetadata.pug
include _generateLocalizedRouting.pug
include _generateSharedExternalLinks.pug

include Localizations/English/MetaDescriptionTemplates.english.pug
include Localizations/English/RoutingLocalization.english.pug
include Localizations/English/SharedExternalLinksLocalization.english.pug
include Localizations/English/ReusableFragments.english.pug

include ThirdPartyEmbeddableScripts/GoogleAnalyticsScript.pug


-

  const localizedRouting = generateLocalizedRouting(routingEnglishLocalization);
  let generatePageTableOfContents;


include ../../Pages/CoreLibrary/Functionality/Arrays/getArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne/TableOfContents/getArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne.toc.english.pug
//include ../../Pages/NodeJS/ConsoleCommandsParser/TableOfContents/ConsoleCommandsParser.toc.english.pug


-

  generatePageTableOfContents = null;

  RoutingEmulator.initialize(localizedRouting);

  const sharedExternalLinks = generateSharedExternalLinks(sharedExternalLinksEnglishLocalization);
