include _HTML_PageMetadata.pug
include _generateLocalizedRouting.pug
include _generateSharedExternalLinks.pug

include Localizations/English/MetaDescriptionTemplates.english.pug
include Localizations/English/RoutingLocalization.english.pug
include Localizations/English/SharedExternalLinksLocalization.english.pug
include Localizations/English/ReausableFragments.english.pug

include ThirdPartyEmbeddableScripts/GoogleAnalyticsScript.pug


-

  const localizedRouting = generateLocalizedRouting(routingEnglishLocalization);
  RoutingEmulator.initialize(localizedRouting);

  const sharedExternalLinks = generateSharedExternalLinks(sharedExternalLinksEnglishLocalization);
