include _HTML_PageMetadata.pug
include _generateLocalizedRouting.pug
include _generateSharedExternalLinks.pug

include Localizations/Russian/MetaDescriptionTemplates.russian.pug
include Localizations/Russian/RoutingLocalization.russian.pug
include Localizations/Russian/SharedExternalLinksLocalization.russian.pug
include Localizations/Russian/ReausableFragments.russian.pug

include ThirdPartyEmbeddableScripts/GoogleAnalyticsScript.pug


-

  const localizedRouting = generateLocalizedRouting(routingRussianLocalization);
  RoutingEmulator.initialize(localizedRouting);

  const sharedExternalLinks = generateSharedExternalLinks(sharedExternalLinksRussianLocalization);
