extends ../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../SharedAssets/Markup/SharedAssets.japanese.pug
  include ../../../SharedComponents/SharedComponents.japanese.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ja";
    HTML_PAGE_TITLE = buildHTML_PageTitle("v1d7");
    HTML_PageMetaData = {
      description: MetaDescriptionTemplates.realiseNotes({ version: "1.7" }),
      author: HTML_PAGE_AUTHOR
    };

    FAVICON_URI = "@MustBeInPublicRoot/favicon";

    styleSheetsURIs = [ "@Shared/CommonStyles", "@Layouts/TwoColumns/TwoColumnsLayout", "@Shared/ExternalComponents" ];
    scriptsURIs.endOfBody = [ "@Common" ];

    RoutingEmulator.setCurrentRoute("realiseNotes.v1d7");

    LanguageDropDownList__YDF_DK.setLinks({
      english: "./v1d7.english.html",
      russian: "./v1d7.russian.html"
    });


block append HeadScriptsLinks

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    h1.Article-Heading1 バージョン 1.7

    h2.Article-Heading2 主要パッケージ (@yamato-daiwa/es-extensions)

    h3.Article-Heading3 新規機能

    h4.Article-Heading4 配列

    ul.Article-UnorderedList

      li: +Link--YDF({
        internalURI: localizedRouting.coreLibrary.$children.
            functionality.$children.
            arrays.$children.
            other.$children.
            createArrayOfNatualNumbers.$URI
      }).Article-Link createArrayOfNatualNumbers

      li: +Link--YDF({
        internalURI: localizedRouting.coreLibrary.$children.
            functionality.$children.
            arrays.$children.
            removingOfElements.$children.
            cropArray.$URI
      }).Article-Link cropArray


    h4.Article-Heading4 ページネーション

    ul.Article-UnorderedList

      li: +Link--YDF({
        internalURI: localizedRouting.coreLibrary.$children.
            functionality.$children.
            pagination.$children.
            PaginationCollection.$URI
      }).Article-Link getItemsOfPaginationPage

      li: +Link--YDF({
        internalURI: localizedRouting.coreLibrary.$children.
            functionality.$children.
            pagination.$children.
            PaginationCollection.$URI
      }).Article-Link PaginationCollection


    h4.Article-Heading4 文字列

    ul.Article-UnorderedList

      li: +Link--YDF({
        internalURI: localizedRouting.coreLibrary.$children.functionality.$children.strings.$children.other.cropString.$URI
      }).Article-Link cropString


    h3.Article-Heading3 以前のコードの修正が必要になる恐れ有りの変化
