projectBuilding:

  commonSettings:

    publicDirectoriesRelativePaths:

      LOCAL_DEVELOPMENT: 02-LocalDevelopmentBuild
      PRODUCTION: 03-ProductionBuild


  # === Markup =========================================================================================================
  markupProcessing:

    entryPointsGroups:

      All:

        topDirectoryRelativePath: 01-Source/Pages

        partialsRecognition:
          excludeFilesWithPrefixes: "_"
          excludeSubdirectoriesWithPrefixes: "_"

        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild


  # === Styles =========================================================================================================
  stylesProcessing:

    entryPointsGroups:

      Shared:

        topDirectoryRelativePath: 01-Source/SharedAssets/Styles

        partialsRecognition:
          excludeFilesWithPrefixes: "_"
          excludeSubdirectoriesWithPrefixes: "_"

        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild

      Pages:

        topDirectoryRelativePath: 01-Source/Pages

        partialsRecognition:
          excludeFilesWithPrefixes: "_"
          excludeSubdirectoriesWithPrefixes: "_"

        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild


  # === Logic =========================================================================================================
  ECMA_ScriptLogicProcessing:

    entryPointsGroups:

      Common:

        singleEntryPointRelativePath: 01-Source/SharedAssets/Scripts/Common.ts

        targetRuntime:
          type: BROWSER

        associatedMarkupEntryPointsGroupID_ForModulesDynamicLoadingWithoutDevelopmentServer: All
        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild


  # === Images =========================================================================================================
  imagesProcessing:

    assetsGroups:

      MustBeInRoot:

        sourceFilesTopDirectoryRelativePath: 01-Source/SharedAssets/MustBeInRoot

        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild

      Shared:

        sourceFilesTopDirectoryRelativePath: 01-Source/SharedAssets/Images

        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild/images
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild/images


  # === Development server =============================================================================================
  browserLiveReloading:

    setups:

      StylesAndComponentsTesting:

        localServer:

          rootDirectoryRelativePath: 02-LocalDevelopmentBuild
