projectBuilding:

  commonSettings:

    publicDirectoriesRelativePaths:

      LOCAL_DEVELOPMENT: 02-LocalDevelopmentBuild
      PRODUCTION: 03-ProductionBuild


  # ━━━ Markup ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  markupProcessing:

    common:
      buildingModeDependent:
        LOCAL_DEVELOPMENT: { mustUseResolveResourceReferencesToRelativePaths: true }

    entryPointsGroups:

      All:

        sourceFilesTopDirectoryRelativePath: 01-Source/Pages

        partialsRecognition:
          excludeFilesWithPrefixes: "_"
          excludeSubdirectoriesWithPrefixes: "_"
          excludeSubdirectoriesWithNames: [ TableOfContents ]

        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild

    routing:

      $specificationFileRelativePath: 01-Source/Pages/Routing.yaml
      $variable: routing
      $localizations:
        english: 01-Source/SharedAssets/Markup/Localizations/English/RoutingLocalization.english.yaml
        japanese: 01-Source/SharedAssets/Markup/Localizations/Japanese/RoutingLocalization.japanese.yaml
        russian: 01-Source/SharedAssets/Markup/Localizations/Russian/RoutingLocalization.russian.yaml


  # ━━━ Styles ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  stylesProcessing:

    entryPointsGroups:

      CustomizedExternalComponents:

        singleEntryPointSourceFileRelativePath: 01-Source/SharedAssets/CustomizedExternalComponents.styl

        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild/styles
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild/styles

      Pages:

        sourceFilesTopDirectoryRelativePath: 01-Source/Pages

        partialsRecognition:
          excludeFilesWithPrefixes: "_"
          excludeSubdirectoriesWithPrefixes: "_"

        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild


  # ━━━ Images ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  imagesProcessing:

    assetsGroups:

      MustBeInPublicRoot:

        sourceFilesTopDirectoryRelativePath: 01-Source/SharedAssets/MustBeInPublicRoot

        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild

      Shared:

        sourceFilesTopDirectoryRelativePath: 01-Source/SharedAssets/Images

        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild/images
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild/images

      AssociatedWithPages:

        sourceFilesTopDirectoryRelativePath: 01-Source/Pages
        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild


  # ━━━ Plain copying ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  plainCopying:

    filesGroups:

      CommonStyles:
        sourceFileRelativePath: node_modules/@yamato-daiwa/programming_documentation/YDPD-Common.css
        buildingModeDependent:
          LOCAL_DEVELOPMENT: { outputDirectoryRelativePath: 02-LocalDevelopmentBuild/styles }
          PRODUCTION:
            outputDirectoryRelativePath: 03-ProductionBuild/styles
            revisioning: { enable: true }

      LayoutsStyles:
        sourceTopDirectoryRelativePath: node_modules/@yamato-daiwa/programming_documentation/Layouts
        fileNameLastExtensions: [ "css" ]
        buildingModeDependent:
          LOCAL_DEVELOPMENT: { outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild/styles/layouts }
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild/styles/layouts
            outputDirectoryPathTransformations: { segmentsCountRelativeToGroupTopDirectoryWhichMustBeRemoved: 1 }
            revisioning: { enable: true }

      PreMadesStyles:
        sourceFileRelativePath: node_modules/@yamato-daiwa/programming_documentation/YDPD-PreMades.css
        buildingModeDependent:
          LOCAL_DEVELOPMENT: { outputDirectoryRelativePath: 02-LocalDevelopmentBuild/styles }
          PRODUCTION:
            outputDirectoryRelativePath: 03-ProductionBuild/styles
            revisioning: { enable: true }

      CommonLogic:
        sourceFileRelativePath: node_modules/@yamato-daiwa/programming_documentation/LogicDistributable/YDPD-Common.js
        buildingModeDependent:
          LOCAL_DEVELOPMENT: { outputDirectoryRelativePath: 02-LocalDevelopmentBuild }
          PRODUCTION:
            outputDirectoryRelativePath: 03-ProductionBuild
            revisioning: { enable: true }


  # ━━━ Development server ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  browserLiveReloading:

    setups:

      StylesAndComponentsTesting:

        localServer:

          rootDirectoryRelativePath: 02-LocalDevelopmentBuild

        openInBrowsers: chrome


  # ━━━ Files Watching ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  filesWatching:

    relativePathsOfExcludeDirectories:
      - 03-ProductionBuild
