projectBuilding:

  commonSettings:

    publicDirectoriesRelativePaths:

      LOCAL_DEVELOPMENT: 02-LocalDevelopmentBuild
      PRODUCTION: 03-ProductionBuild


  # === Markup =========================================================================================================
  markupProcessing:

    common:
      buildingModeDependent:
        LOCAL_DEVELOPMENT: { mustUseResolveResourceReferencesToRelativePaths: true }

    entryPointsGroups:

      All:

        sourceFilesTopDirectoryRelativePath: 01-Source/Pages

        partialsRecognition:
          excludeFilesWithPrefixes: "_"
          excludeSubdirectoriesWithPrefixes: "_"

        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild


  # === Styles =========================================================================================================
  stylesProcessing:

    entryPointsGroups:

      Shared:

        sourceFilesTopDirectoryRelativePath: 01-Source/SharedAssets/Styles

        partialsRecognition:
          excludeFilesWithPrefixes: "_"
          excludeSubdirectoriesWithPrefixes: "_"

        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild

      Layouts:

        sourceFilesTopDirectoryRelativePath: node_modules/@yamato-daiwa/programming_documentation/Layouts

        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild

      Pages:

        sourceFilesTopDirectoryRelativePath: 01-Source/Pages

        partialsRecognition:
          excludeFilesWithPrefixes: "_"
          excludeSubdirectoriesWithPrefixes: "_"

        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild


  # === Logic =========================================================================================================
  ECMA_ScriptLogicProcessing:

    entryPointsGroups:

      Common:

        singleEntryPointSourceFileRelativePath: 01-Source/SharedAssets/Scripts/Common.ts

        targetRuntime:
          type: BROWSER

        associatedMarkupEntryPointsGroupID_ForModulesDynamicLoadingWithoutDevelopmentServer: All
        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild


  # === Images =========================================================================================================
  imagesProcessing:

    assetsGroups:

      MustBeInPublicRoot:

        sourceFilesTopDirectoryRelativePath: 01-Source/SharedAssets/MustBeInPublicRoot

        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild

      Shared:

        sourceFilesTopDirectoryRelativePath: 01-Source/SharedAssets/Images

        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild/images
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild/images

      AssociatedWithPages:

        sourceFilesTopDirectoryRelativePath: 01-Source/Pages
        buildingModeDependent:
          LOCAL_DEVELOPMENT:
            outputTopDirectoryRelativePath: 02-LocalDevelopmentBuild
          PRODUCTION:
            outputTopDirectoryRelativePath: 03-ProductionBuild


  # === Development server =============================================================================================
  browserLiveReloading:

    setups:

      StylesAndComponentsTesting:

        localServer:

          rootDirectoryRelativePath: 02-LocalDevelopmentBuild

        openInBrowsers: chrome
