-

  const MetaDescriptionTemplates = {

    function: ({ functionName, whatFunctionDoes }) =>
        `The function &quot;${ functionName }&quot; of &quot;Yamato Daiwa ECMAScript extensions&quot; ` +
        `(abbreviation: &quot;YDEE;&quot;) library ${ whatFunctionDoes }.`

  };
