-

  const MetaDescriptionTemplates = {

    function: ({ functionName, whatFunctionDoes }) =>
        `The function &quot;${ functionName }&quot; of &quot;Yamato Daiwa ECMAScript extensions&quot; ` +
        `(abbreviation: &quot;YDEE;&quot;) library ${ whatFunctionDoes }`,

    class: ({ className, whatIsClassFor }) =>
        `The class &quot;${ className }&quot; of &quot;Yamato Daiwa ECMAScript extensions&quot; ` +
        `(abbreviation: &quot;YDEE;&quot;) library ${ whatIsClassFor }`

  };
