-

  const MetaDescriptionTemplates = {

    function: ({ functionName, whatFunctionDoes }) =>
        `The function &quot;${ functionName }&quot; of &quot;Yamato Daiwa ECMAScript extensions&quot; ` +
        `(abbreviation: &quot;YDEE;&quot;) library ${ whatFunctionDoes }`,

    realiseNotes: ({ version }) =>
        "The changes log (new functionality, changing of the existing functionality and removing of the previous one) of " +
          `the version ${ version } of the utility TypeScript library &quot;Yamato Daiwa ES Extensions&quot; ` +
          "(abbreviation: &quot;YDEE&quot;)."

  };
