-

  const MetaDescriptionTemplates = {

    function: ({ functionName, whatFunctionDoes }) =>
        `The function "${ functionName }" of "Yamato Daiwa ECMAScript extensions" ` +
        `(abbreviation: "YDEE") library ${ whatFunctionDoes }`,

    class: ({ className, whatIsClassFor }) =>
        `The class "${ className }" of "Yamato Daiwa ECMAScript extensions" ` +
        `(abbreviation: "YDEE") library ${ whatIsClassFor }`

  };
