mixin IntellIJ_IDEA_IDEs_LiveTemplateUsageGuidance(properties)

  - const { imageURI } = properties


  h2.Article-Heading2 Quick input in IntelliJ IDEA family IDEs

  +SingleImageViewer--YDF({
    imageURI: imageURI,
    imageAlternateText: "Quick inputting in IntelliJ IDEA family IDEs using the &quot;Live templates&quot; functionality."
  })

  p.Article-Paragraph.
    The usage of the functionality named
      #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.liveTemplates }).Article-Link Live templates],
      in
      #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.intelliJ_IDEA_FamilyIDEs }).Article-Link IntelliJ IDEA]
      family #[+Term--YDID IDEs] allowing to input the code such as #[+Term--YDID function invocation expression] quickly.
    To get the #[+Term--YDID Live Templates] of #[+ImportantEntity--YDID YDEE] library, the installation of the
      #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.YDEE_Plugin }).Article-Link official plugin]
      of this library is required.


  h3.Article-Heading3 Stepwise guidance to use of the Live template

  p.Article-Paragraph.
    If you have not used the #[+Term--YDID Live Templates] before, do not worry about below seems to be complicated
      guidance because once the habit of the usage of the #[+Term--YDID Live Templates] shaped (this habit is similar to
      usage of the keyboard shortcuts) the following operations will take a matter of seconds.

  block
