mixin IntellIJ_IDEA_IDEs_LiveTemplateUsageGuidance(properties)

  - const { imageURI } = properties


  h2.Article-Heading2 Quick input in IntelliJ IDEA family of IDEs

  +SingleImageViewer--YDF({
    imageURI: imageURI,
    imageAlternateText: "Quick input in IntelliJ IDEA family IDEs using the &quot;Live templates&quot; functionality."
  })

  p.Article-Paragraph.
    Using the functionality of
      #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.liveTemplates }).Article-Link Live templates]
      in the
      #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.intelliJ_IDEA_FamilyIDEs }).Article-Link IntelliJ IDEA]
      family #[+Term--YDID IDEs] allows you to input code such as the #[+Term--YDID function invocation expression] quickly.
    To get the #[+Term--YDID Live templates] of the #[+ImportantEntity--YDID YDEE] library, installation of the
      #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.YDEE_Plugin }).Article-Link official plugin]
      of this library is required.


  h3.Article-Heading3 Stepwise guidance for using the Live template

  p.Article-Paragraph.
    If you have not used #[+Term--YDID Live templates] before, do not worry if the instructions below are too complicated.
    Once you have developed the habit of using #[+Term--YDID Live templates] (similar to the habit of using keyboard
      shortcuts), the following operations will take a matter of seconds.

  block
