-

  const routingEnglishLocalization = {

    fileNameLocalizationExtensions: "english",

    topPage: {
      $heading: "Top",
      URI: "@All/index"
    },

    coreLibrary: {

      $heading: "Core library",

      gettingStarted: { $heading: "Getting started" },

      functionality: {

        $heading: "Functionality",

        strings: {
          $heading: "Strings"
        },

        arrays: {

          $heading: "Arrays",

          retrievingOfElements: {
            $heading: "Retrieving of elements"
          },

          retrievingOfIndexes: {
            $heading: "Retrieving of indexes"
          },

          addingOfElements: {
            $heading: "Adding of elements"
          },

          removingOfElements: {
            $heading: "Removing of elements"
          },

          other: {
            $heading: "Other"
          }

        },

        constantsAndEnumerations: {
          $heading: "Constants and enumerations",
          dateTime: { $heading: "Date and time" },
          HTTP: { HTTP_StatusCodes: { $heading: "HTTP response status codes" } }
        },

        dataMocking: {
          $heading: "Data mocking",
          guide: { $heading: "Data mocking guide" },
          DataMockingClass: { $heading: "<code>DataMocking</code> class" }
        },

        dateTime: {
          $heading: "Date and time",
          comparison: { $heading: "Comparison" },
          other: { $heading: "Other" }
        },

        defaultValueSubstituters: { $heading: "Default value substituters" },

        errors: { $heading: "Errors classes" },

        logging: {
          $heading: "Logging",
          loggerFacade: { $heading: "<code>Logger</code>　facade" },
          loggerInterface: { $heading: "<code>ILogger</code>　interface" },
          relatedTypes: { $heading: "Related types" }
        },

        maps: { $heading: "Maps" },

        numbers: { $heading: "Numbers" },

        objects: { $heading: "Objects" },

        pagination: { $heading: "Pagination" },

        promises: { $heading: "Promises" },

        randomValuesGenerators: { $heading: "Random values generators" },

        rawObjectDataProcessor: {
          quickExample: { $heading: "Quick example" },
          problemOverview: { $heading: "Problem overview" },
          theoreticalMinimum: { $heading: "Theoretical minimum" },
          gettingStarted: { $heading: "Getting started" },
          helpers: { $heading: "Helpers" }
        },

        sets: { $heading: "Sets" },

        strings: {
          $heading: "Strings",
          charactersAssets: { $heading: "Characters assets" },
          regularExpressions: { $heading: "Regular expressions" },
          URI: { filesAndDirectories: { $heading: "Files and directories" } },
          other: { $heading: "Other" }
        },

        typeGuards: {
          $heading: "Type guards",
          arrays: { $heading: "Arrays" },
          nullables: { $heading: "Nullables" },
          numbers: { $heading: "Numbers" },
          objects: { $heading: "Objects" },
          strings: { $heading: "Strings" },
          others: { $heading: "Others" }
        },

        types: { $heading: "Types" },

        valueTransformers: { $heading: "Value transformers" }

      }

    },

    browserJS: {
      $heading: "Browser JS",
      DOM_Manipulations: { $heading: "DOM Manipulations" },
      eventsHandling: { $heading: "Events handling" },
      logging: { $heading: "Logging" }
    },

    NodeJS: {
      utils: { $heading: "Utils" },
      errorsClasses: { $heading: "Errors classes" },
      other: { $heading: "Other" }
    }

  };
