-

  const routingEnglishLocalization = {

    fileNameLocalizationExtensions: "english",

    topPage: {
      tableOfContentsTitle: "Top",
      URI: "@All/index"
    },

    coreLibrary: {

      tableOfContentsTitle: "Core library",

      gettingStarted: {
        tableOfContentsTitle: "Getting started",
        sections: {
          installation: { tableOfContentsTitle: "Installation" },
          distributiveVolumeNotice: { tableOfContentsTitle: "Distributive volume notice" },
          nonTypeScriptUsageWarning: { tableOfContentsTitle: "Non-TypeScript usage warning" },
          importingOfFunctionality: { tableOfContentsTitle: "Importing of dependencies" }
        }
      },

      functionality: {
        tableOfContentsTitle: "Functionality",
        children: {

          strings: {
            tableOfContentsTitle: "Strings"
          },

          arrays: {

            tableOfContentsTitle: "Arrays",

            retrievingOfElements: {
              tableOfContentsTitle: "Retrieving of elements"
            },

            retrievingOfIndexes: {
              tableOfContentsTitle: "Retrieving of indexes"
            },

            addingOfElements: {
              tableOfContentsTitle: "Adding of elements"
            },

            removingOfElements: {
              tableOfContentsTitle: "Removing of elements"
            },

            other: {
              tableOfContentsTitle: "Other"
            }

          },

          constantsAndEnumerations: {
            tableOfContentsTitle: "Constants and enumerations",
            dateTime: { tableOfContentsTitle: "Date and time" },
            HTTP: { HTTP_StatusCodes: { tableOfContentsTitle: "HTTP response status codes" } }
          },

          dataMocking: {
            tableOfContentsTitle: "Data mocking",
            guide: { tableOfContentsTitle: "Data mocking guide" },
            DataMockingClass: { tableOfContentsTitle: "<code>DataMocking</code> class" },
          },

          dateTime: {
            tableOfContentsTitle: "Date and time",
            comparison: { tableOfContentsTitle: "Comparison" },
            other: { tableOfContentsTitle: "Other" }
          }

        }
      }

    }

  };
