-

  const routingEnglishLocalization = {

    fileNameLocalizationExtensions: "english",

    topPage: {
      tableOfContentTitle: "Top",
      URI: "@All/index"
    },

    coreLibrary: {

      tableOfContentTitle: "Core library",

      gettingStarted: {
        tableOfContentTitle: "Getting started",
        sections: {
          installation: { tableOfContentTitle: "Installation" },
          distributiveVolumeNotice: { tableOfContentTitle: "Distributive volume notice" },
          nonTypeScriptUsageWarning: { tableOfContentTitle: "Non-TypeScript usage warning" },
          importingOfFunctionality: { tableOfContentTitle: "Importing of dependencies" }
        }
      },

      functionality: {
        tableOfContentTitle: "Functionality",
        children: {

          strings: {
            tableOfContentTitle: "Strings"
          },

          arrays: {

            tableOfContentTitle: "Arrays",

            retrievingOfElements: {
              tableOfContentTitle: "Retrieving of elements"
            },

            retrievingOfIndexes: {
              tableOfContentTitle: "Retrieving of indexes"
            },

            addingOfElements: {
              tableOfContentTitle: "Adding of elements"
            },

            removingOfElements: {
              tableOfContentTitle: "Removing of elements"
            },

            other: {
              tableOfContentTitle: "Other"
            }

          },

          constantsAndEnumerations: {
            tableOfContentTitle: "Constants and enumerations",
            dateTime: { tableOfContentTitle: "Date and time" }
          }

        }
      }

    }

  };
