-

  const routingEnglishLocalization = {

    fileNameLocalizationExtensions: "english",

    topPage: {
      tableOfContentsTitle: "Top",
      URI: "@All/index"
    },

    coreLibrary: {

      tableOfContentsTitle: "Core library",

      gettingStarted: {
        tableOfContentsTitle: "Getting started",
        sections: {
          installation: { tableOfContentsTitle: "Installation" },
          distributiveVolumeNotice: { tableOfContentsTitle: "Distributive volume notice" },
          nonTypeScriptUsageWarning: { tableOfContentsTitle: "Non-TypeScript usage warning" },
          importingOfFunctionality: { tableOfContentsTitle: "Importing of dependencies" }
        }
      },

      functionality: {

        tableOfContentsTitle: "Functionality",

        strings: {
          tableOfContentsTitle: "Strings"
        },

        arrays: {

          tableOfContentsTitle: "Arrays",

          retrievingOfElements: {
            tableOfContentsTitle: "Retrieving of elements"
          },

          retrievingOfIndexes: {
            tableOfContentsTitle: "Retrieving of indexes"
          },

          addingOfElements: {
            tableOfContentsTitle: "Adding of elements"
          },

          removingOfElements: {
            tableOfContentsTitle: "Removing of elements"
          },

          other: {
            tableOfContentsTitle: "Other"
          }

        },

        constantsAndEnumerations: {
          tableOfContentsTitle: "Constants and enumerations",
          dateTime: { tableOfContentsTitle: "Date and time" },
          HTTP: { HTTP_StatusCodes: { tableOfContentsTitle: "HTTP response status codes" } }
        },

        dataMocking: {
          tableOfContentsTitle: "Data mocking",
          guide: { tableOfContentsTitle: "Data mocking guide" },
          DataMockingClass: { tableOfContentsTitle: "<code>DataMocking</code> class" },
        },

        dateTime: {
          tableOfContentsTitle: "Date and time",
          comparison: { tableOfContentsTitle: "Comparison" },
          other: { tableOfContentsTitle: "Other" }
        },

        defaultValueSubstituters: { tableOfContentsTitle: "Default value substituters" },

        errors: { tableOfContentsTitle: "Errors classes" },

        logging: {
          tableOfContentsTitle: "Logging",
          loggerFacade: { tableOfContentsTitle: "<code>Logger</code>　facade" },
          loggerInterface: { tableOfContentsTitle: "<code>ILogger</code>　interface" },
          relatedTypes: { tableOfContentsTitle: "Related types" }
        },

        maps: { tableOfContentsTitle: "Maps" },

        numbers: { tableOfContentsTitle: "Numbers" },

        objects: { tableOfContentsTitle: "Objects" },

        pagination: { tableOfContentsTitle: "Pagination" },

        promises: { tableOfContentsTitle: "Promises" },

        randomValuesGenerators: { tableOfContentsTitle: "Random values generators" },

        rawObjectDataProcessor: {
          quickExample: { tableOfContentsTitle: "Quick example" },
          problemOverview: { tableOfContentsTitle: "Problem overview" },
          theoreticalMinimum: { tableOfContentsTitle: "Theoretical minimum" },
          gettingStarted: { tableOfContentsTitle: "Getting started" },
          helpers: { tableOfContentsTitle: "Helpers" }
        },

        sets: { tableOfContentsTitle: "Sets" },

        strings: {
          tableOfContentsTitle: "Strings",
          charactersAssets: { tableOfContentsTitle: "Characters assets" },
          regularExpressions: { tableOfContentsTitle: "Regular expressions" },
          URI: { filesAndDirectories: { tableOfContentsTitle: "Files and directories" } },
          other: { tableOfContentsTitle: "Other" }
        },

        typeGuards: {
          tableOfContentsTitle: "Type guards",
          arrays: { tableOfContentsTitle: "Arrays" },
          nullables: { tableOfContentsTitle: "Nullables" },
          numbers: { tableOfContentsTitle: "Numbers" },
          objects: { tableOfContentsTitle: "Objects" },
          strings: { tableOfContentsTitle: "Strings" },
          others: { tableOfContentsTitle: "Others" }
        },

        types: { tableOfContentsTitle: "Types" },

        valueTransformers: { tableOfContentsTitle: "Value transformers" }

      }

    },

    browserJS: {
      tableOfContentsTitle: "Browser JS",
      DOM_Manipulations: { tableOfContentsTitle: "DOM Manipulations" },
      eventsHandling: { tableOfContentsTitle: "Events handling" },
      logging: { tableOfContentsTitle: "Logging" }
    },

    NodeJS: {
      utils: { tableOfContentsTitle: "Utils" },
      errorsClasses: { tableOfContentsTitle: "Errors classes" },
      other: { tableOfContentsTitle: "Other" }
    },

    realiseNotes: {
      tableOfContentsTitle: "Realise notes"
    }

  };
