-

  const sharedExternalLinksEnglishLocalization = {
    wikipedia: {
      math: {
        euler_sNumber: "https://en.wikipedia.org/wiki/E_(mathematical_constant)"
      }
    },
    mdn: {
      array: {
        unshift: "https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/unshift"
      }
    },
    jetBrains: {
      liveTemplates: "https://www.jetbrains.com/help/idea/using-live-templates.html"
    }
  };
