include Japanese/RoutingLocalization.japanese.pug
include Japanese/ComponentsLocalization.japanese.pug


-
  const localizedRouting = generateLocalizedRouting(routingJapaneseLocalization)
  RoutingEmulator.initialize(localizedRouting)

