include Russian/RoutingLocalization.russian.pug
include Russian/ComponentsLocalization.russian.pug


-
  const localizedRouting = generateLocalizedRouting(routingRussianLocalization)
  RoutingEmulator.initialize(localizedRouting)
