.MainLayout

  display flex
  flex-direction column

  fillBodyVertically({ verticalScrolling: false })


  &-UpperFixedContentSlot

    flex-shrink 0


  &-DynamicContent

    Centerer()
    overflow-y auto

    flex-grow 1
