extends ../../../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append PageContent

  .MainLayout

    .MainLayout-UpperFixedContentSlot

      +Header

      block UpperFixedContentSlot


    .MainLayout-DynamicContent

      block DynamicContent
